war/WEB-INF/classes/*
war/WEB-INF/lib/*
war/WEB-INF/deploy/*
war/accounter.client/
war/*.gz
war/*.log
war/*/*.gz
war/*/*/*.gz
logs
logs/*
build
build/*
gwt-unitCache
gwt-unitCache/*
.gwt/*
platforms/windows 8/Accounter/accounter.client
platforms/windows 8/Accounter/default.html
platforms/windows 8/Accounter/css/default.css
platforms/windows 8/Accounter/Debug
platforms/windows 8/Accounter/bin
platforms/windows 8/Accounter/bld