/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
	/*
 *	@author A.Praveena
 *  
 */

/* Opera hacks */
noindex:-o-prefocus,.table-checkbox-cell span input[type="checkbox"] {
	background-image: none !important;
	background-color: inherit !important;
}
noindex:-o-prefocus,.gridBody tr td {
	overflow: hidden;
}
noindex:-o-prefocus,.gwt-CheckBox input[type="checkbox"] {
	margin-bottom: 4px;
}
noindex:-o-prefocus,.gwt-CheckBox label {
	font-size: 13px;
}
noindex:-o-prefocus,.phone-fax-formatter td .gwt-TextBox {
	float: right;
}
noindex:-o-prefocus,.ibutton {
	margin-right: 5px !important;
}
/* end of opera hacks*/
/* chrome and safari hacks */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.gwt-Button { 
		float: inherit !important;
		padding:0 5px 2px !important
	}
	.gwt-MenuBar-horizontal .gwt-MenuItem{
	   height:18px !important;
	}
	.editTable .downarrow-button{
	  margin-left:-24px !important;
	}
	input[disabled], input[disabled="disabled"]{
	   color:black !important;
	}
	.ibutton-right-image {
		padding: 2px 1px 7px 2px;
	}
	.delete-table-image {
		overflow: hidden !important;
	}
	.header_check_box {
		width: 20px !important;
	}
	.sales_tax_buttons td{
	    float:right;
	}
	.Empty-text{
	    padding:3px 12px !important;
	}
	.grouped-buttons{
	    padding:2px 0 !important;
	    margin:2px 5px !important;
	}
	.grouped-buttons td:FIRST-CHILD .Empty-text{
		margin-right:-3px !important;
	}
	.list-grid-body div.gridBodyContainer {
		overflow-x: hidden !important;
		overflow-y: auto !important;
	}
	.image-button{
	    padding:0 5px 0 27px !important;
	}
	.delete-table-image{
	    padding:0px !important;
	}
}/*chrome and safari end */
/*IE8 styles*/
@media \0screen {
  input[type="text"]{
	line-height: 1.8;
  }
  .viewholder{
    border:1px solid #3299A4;
  }
}/*End styles*/

html,body,.myacc-form1 td input[type=text],.gridBodyContainer,.gridHeader tr td div,.builder,.finance_window,.group-toolbar,
.vender-form input[type="text"],.vender-form select,.vender-form textarea,.previous-container,.next-container,.action-panel,
.welcome-panel,.fullSizePanel,.view_help_panel iframe,.progress_panel_show table,.abstract_base_view,.gridEvenRow,.gridOddRow,
.helpPanel,.view_panel,.HEADER_GRID,.financeWindow,.noScroll,.listgridfooter,.gridHeader,.toolbox,.companyInfoPanel,.MENU_BAR_BG,
.error-panel,.commentPanel,#mainFooter,.portlet-body,.empty_menu_bar,.address,.tablelayout,.tablelayout1,.tablelayoutInIE,.tablelayoutInIE1,
.listgrid .custom-combo,.widget,.boldtext,.email_textarea textarea,.finance-portlet td:FIRST-CHILD table,.finance-portlet table,
.editTable .gwt-TextBox,.editTable .gwt-DateBox,.imageLink-div,.action-vp,.gridBody tbody,.grid-resizeable-proxy-column,
.portlet-body,.no-title .main-w,.datePickerMonthSelector,.pre_scroll_table div table,#overlay,.dateBoxPopup .datePickerDays,
.dateBoxPopup .datePickerMonthSelector,.dateBoxPopup .gwt-DatePicker{
	width: 100%;
}
.textbold td,.name-label,.label-company,.bold,.text-bold,.unreadmessage td,.financialDataTitle:FIRST-CHILD,
.selected-page,.plain-panel-title,.datePickerPreviousButton,.datePickerNextButton,td.datePickerMonth,.label-banking,
.financialDataTitle,.lable-title,.listgridfooter td,.boldcell,.label-title-list,.label-title,.error-panel,.inviteUserLabel,
.boldtext tr td div,.amountLabelPortlet,.selectedview_labelstyle,.selectedview_tiny_labelstyle,.selectedview_large_labelstyle,
.selectedview_medium_labelstyle,.companyInfoPanel .header,.progress_header,.gwt-DecoratedTabBar .tabMiddleCenter,
.plain00,.panel-title,.gwt-DialogBox .Caption,.headerlabel,.selectedview_textarea_label,.bottom_total_view td,
.select_industry,.organized_radio,.employee_yesno,.billing_question,form#contactForm .submit {
	font-weight: bold;
}
.image-pointer,select[multiple] option,.gridHeadCell,.gridRow,.gridBody1 tr:HOVER,.gwt-MenuBar-horizontal .gwt-MenuItem,
.cross-dialog,.refresh,.link,.loading,.Image-action td table,.blue-month-line,.blue-day-grid,.close,.gwt-Tree .gwt-TreeItem,
.gridBody tbody,.gridHeader,.imageLink,a,.image-button,.falseHyperlink,.handCursor,.widget img,.gwt-DecoratedTabBar .tabMiddleCenter,
.users-grid tr:hover,.logo,.general-image,.helpBar,.calendar-picker,.custom-button,.gwt-DecoratedTabBar .tabMiddleCenter,
#contactable,form#contactForm .submit,.gwt-Button,.gwt-MenuBar table tr,.Empty-text{
	cursor: pointer;
}
.no-title td.td01,.main-w,td.td11,td.td10,.users-listGrid .gridBodyContainer .onsort,.upload-logo,.listgrid,
.workspaces-listGrid .gridBodyContainer .onsort,.dropdownFlex,.blue-day-grid,.editTable,.gwt-PopupPanel,.ReportGrid,
select[multiple],.selectedview_textareadata,#loading .loadingIndicator,.main-class-pannel,.recounciliation_grid,
.editTable table,.editTable input[disabled],.editTable_disable_anchor,.dateBoxPopup,.fullSizePanel,.selectedview,.GALD-WOCD{
	background: none repeat scroll 0 0 #FFFFFF;
}
.ele-disable,.menuPopupTop,.menuPopupMiddleLeft,.disconnected .gridLabelCell .gwt-HTML img,.listgridfooter,#overlay,
.progress_panel_hide,.customize_Accounter_labels a,.expense_question_link a,.view_panel a,.editTable_disable{
	display: none;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter,.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter,
.ReportGrid tr td.underline,.file-vat .gridRow,.boldcell{
	cursor: default;
}
lable,.gwt-Label,.datePickerPreviousButton,.datePickerNextButton,td.datePickerMonth,.selectedview_textarea_label,.selectedview_labelstyle,
.selectedview_tiny_labelstyle,.selectedview_large_labelstyle,.selectedview_medium_labelstyle,
.organisation_Info,.grouped-buttons td:FIRST-CHILD .image-button,.grouped-buttons .image-button,.button_bar .cancle-Btn,
.blue-current-month-other-day,.blue-current-month-week-end,.blue-current-month-selected {
	color: #000;
}
.grouped-buttons td:last-child .image-button{
	color: #000;
}
.gwt-MenuBar-vertical .subMenuIcon-selected,.gwt-MenuBar-horizontal .gwt-MenuItem,.gwt-MenuBar-horizontal,.childNode tr td,.parentNode tr td,
.gwt-MenuBar-vertical,.loading-panel tr td,.workspace-panel .listgrid,.user-panel .listgrid,.workspace-panel .listgrid .gridBody tr td,
.user-panel .listgrid .gridBody tr td,.helpContent,.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner,.custom-button,
.editTable .gwt-TextBox,.editTable .gwt-DateBox,.industry_list_table select,.gwt-DatePicker .datePickerDays tr:FIRST-CHILD{
	border: 0px none ;
}
.editheader .gwt-Label,.viewTitle,.blue-month-line td,.blue-month-line td div,.blue-week-line,.gwt-StackPanel .gwt-StackPanelItem,.gridHeader,
.panel-right-align .gwt-Button button,.image-button,.portletLabel,.custom-button,.gwt-Button,.portlet .panel-title,.gwt-DialogBox .caption,
.editTable .editheader td,.view_help_panel td:FIRST-CHILD table div,.helpdialog .dialogTopCenter table div,.breadcrumb a,.headerlabel,
.helpdialog .dialogTopCenterInner .caption .gwt-HTML,.recounciliation_grid thead th,.gwt-TabBar .gwt-TabBarItem,.datePickerWeekendLabel,
.tabMiddle .tabMiddleCenterInner .gwt-Label,.gwt-MenuBar table tr td,.gwt-MenuBar-horizontal .gwt-MenuItem,.user_activity_log thead th,.user_activity_log thead th:hover,
#contactable,#contactForm,form#contactForm .submit,#callback,.dateBoxPopup .datePickerMonthSelector td,.datePickerMonthSelector td div,.datePickerWeekdayLabel {
	color: #FFFFFF;
}
.gwt-TextBox,.gwt-TextArea,.memoTextArea,textarea[disabled],.gwt-ListBox,.refer_listbox,.fiscal_listbox,.currency_listbox,
.gridTextBoxCell input[type="text"],.custom-button,.custom-combo,.highlightedFormItem,.gwt-DateBox{
	border-radius: 3px 3px 3px 3px;
}
.gwt-SuggestBox,.gwt-TextBox,.gwt-PasswordTextBox,.gridTextBoxCell input[type="text"],.downarrow-button,
.listgrid .custom-combo,.custom-combo,.blue-day-grid tr,.gridSelectBoxCell .downarrow-button,.gridHeader,
.editTable .gwt-TextBox,.editTable .gwt-DateBox,.gridEvenRow,.gridOddRow,.editTable_disable_anchor,.gwt-DateBox{
	height: 22px;
}
.workflowFilterList,.report-toolbar .ibutton,.button-panel,.standard-options .ibutton,.Writecheck_addNew,
.recoucilation_change button,.skip_start tr td button,.setupstartpagepanel button{
	float: right !important;
}
.view_panel table table tr:last-child td .gwt-Button{
	float: right !important;
}
.picture-link,.status,.blue-day-grid,.blue-month-line,.blue-week-line,.message,.headerlabel,.progress_header,#mainFooter,
.companyName,.dateBoxPopup .popupContent table td {
	text-align: center;
}
.skip_setup td:last-child,.start_setup td:last-child{
	text-align: center;
}
.td11,td.sidebar,.recounciliation_grid tbody tr,.gridLabelCell img,.Caption img,.gwt-TreeItem img,
.memoFormAlign,.addrsFormCellAlign,td.td01,.no-title .biz-decor-panel td.td01{
	vertical-align: top;
}
.td01,.decor00,.decor02,.no-title .biz-decor-panel .td00,.no-title .biz-decor-panel .td01,
.no-title .biz-decor-panel .td02,.no-title .biz-decor-panel .decor00,.no-title .biz-decor-panel .decor02{
	height: 29px;
}
body,.menubar-devider,.gwt-SuggestBox,.gwt-TextBox,.gwt-PasswordTextBox,.gridSelectBoxCell .downarrow-button,#overlay,
.gwt-Tree .gwt-TreeItem,.gridTextBoxCell input,input[type="checkbox"],.main-finance-window,.panel-right-align .gwt-Button button,
.td00,.td01,.td02,.td10,.gridHeaderLastTd,.gwt-PopupPanel,.gwt-StackPanelContent,.editTable .gwt-TextBox,.editTable .gwt-DateBox {
	padding: 0;
}
.gwt-TextBox,.gwt-TextArea,.memoTextArea,.gwt-ListBox,.refer_listbox,.fiscal_listbox,.currency_listbox,
.gridTextBoxCell input[type="text"],.dropdown-disabled input[disabled],.dropdown-disabled input[disabled='disabled']
,.gwt-TextBox input[disabled],.gwt-TextBox input[disabled='disabled'],.custom-combo,textarea[disabled],.gwt-DateBox {
	border: 1px solid #B1B1B1;
}
.track_emp_vpanel td:FIRST-CHILD,.sales_tax td:FIRST-CHILD ,.estimate_stmt_acc td:FIRST-CHILD
,.bills_panel td:FIRST-CHILD,.track_time_panel td:FIRST-CHILD {
	padding:10px 0 0 0;
}
.selected{
	background: none repeat scroll 0 0 #CCCCCC;
}
 table tr.ReportGridRow:HOVER,table.dropdownFlex tr:hover,.gwt-ListBox option:HOVER,.report-toolbar,.datePickerDayIsValue /*,.gridAscend,.gridDecend*/{
	background: none repeat scroll 0 0 #CCCCCC !important;
}
.gridBody,.gridHeader,.blue-day-grid,.dropdownFlex,.gridHeader,.editTable table,.boldtext,.borders,.biz-decor-panel,
.gwt-MenuBarPopup .gwt-MenuBar-vertical table,.gwt-DecoratedTabBar .gwt-TabBarItem,.td00,.td01,.td02,.gwt-DatePicker .datePickerDays{
	border-collapse: collapse;
}
textarea[disabled],.dropdown-disabled input[disabled],.dropdown-disabled input[disabled='disabled'],.gwt-TextBox input[disabled],
.gwt-TextBox input[disabled='disabled']{
	background: none repeat scroll 0 0 #E6E0DA;
}
.gwt-MenuBar .gwt-MenuItem-selected,.gwt-MenuBar-vertical .subMenuIcon-selected,.gwt-Button,.gwt-DialogBox,
.gwt-MenuBar-vertical .subMenuIcon-selected,.addAccountPortlet,.addButtonPortlet,.account_portlet {
	background: none repeat scroll 0 0 #29646C;
}
.gwt-DialogBox .dialogTopLeftInner,.dialogMiddleRightInner ,.discussion-dialog .dialogMiddleLeft,
.discussion-dialog .dialogMiddleRight,.gwt-DialogBox .dialogTopRight{
	width: 5px !important;
}
.main-class-pannel,.change_password_view,.error-panel,#loading .loadingIndicator,.skip_setup,.start_setup,
.back_next_buttons,.Empty-text,.setting-class-panel,.view_panel,.invoice_print_dialog{
	padding: 10px;
}
.setting-class-panel,.change_password_view,.editTable .editheader td,.editTable td,
.grouped-buttons td:FIRST-CHILD .Empty-text,.grouped-buttons td:FIRST-CHILD .image-button,.gridHeader td, .listgrid .gridBody tr td{
	border-style: solid;
}
.grouped-buttons td:last-child .Empty-text,.grouped-buttons td:last-child .image-button,.Empty-text,
.grouped-buttons td:only-child .Empty-text,.grouped-buttons td:only-child .image-button{
	 border: 1px solid #A0A0A0;
}
.Empty-text{
	border: 1px solid #A0A0A0;
}
.button_bar .cancle-Btn{
	border: 1px solid #A0A0A0;
	padding-left:22px;
}
.track_emp_vpanel td:FIRST-CHILD .setup_header_label,.sales_tax td:FIRST-CHILD .setup_header_label,
.estimate_stmt_acc td:FIRST-CHILD .setup_header_label,.bills_panel td:FIRST-CHILD .setup_header_label,
.track_time_panel td:FIRST-CHILD .setup_header_label{
	padding:0px 0 5px 0;
}
.helpdialog .caption,.helpdialog .dialogTopLeft,.helpdialog .dialogTopRight,.helpdialog .dialogMiddleLeft,.helpdialog .dialogMiddleRight,
.helpdialog .dialogBottomLeft,.helpdialog .dialogBottomCenter,.helpdialog .dialogBottomRight,
.view_help_panel td:FIRST-CHILD table,.helpdialog .dialogTopCenter table{
	background:-moz-linear-gradient(center top , #493F39, #3D2F29) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#493F39', endColorstr='#3D2F29'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#493F39), to(#3D2F29)); /* for webkit browsers */
    background: -o-linear-gradient(top,  #493F39, #3D2F29);
}
.gridHeader td,.gridBody tr td,.ReportGrid .gridBody tr td,.decor11,div.gridBodyContainer,
.action-panel .panelBody .panelContent,.action-panel,.scroll-panel{
	overflow-x: hidden;
}
#branding,.group-toolbar,.editTable .editheader,.gwt-StackPanel .gwt-StackPanelItem,.recounciliation_grid thead tr,
.gridHeader,.user_activity_log thead tr,.headerlabel{
	background:#2D8B93;
	background: -moz-linear-gradient(top, #3299A4, #2D8B93);
	background: -webkit-gradient(linear, left top, left bottom, from(#3299A4), to(#2D8B93));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3299A4', endColorstr='#2D8B93'); /* for IE */
    background: -o-linear-gradient(top,  #3299A4,   #2D8B93);
}
.view_help_panel td:FIRST-CHILD table td,.helpdialog .dialogTopCenter table td,.fiscal_panel td:FIRST-CHILD,
.refer_panel td:FIRST-CHILD,.select_grid td:FIRST-CHILD,.upload-logo td{
	vertical-align: middle !important;
}
input[type="text"],textarea,#mainFooter a,#mainFooter span,.view_help_panel td:FIRST-CHILD table td,.dashboard_label td,
.helpdialog .dialogTopCenter table td,.no-title .main-w,.gridBody1 .gwt-HTML,.group-toolbar,.widget img{
	padding:0 5px;
}
.selectedview_labelstyle,.selectedview_tiny_labelstyle,.selectedview_large_labelstyle,.selectedview_medium_labelstyle,
.grouped-buttons,.progress_panel_data td .gwt-Label,.progress_panel table tr td{
	padding: 5px 0;
}
fieldset,img { 
	border:0;
}
.gridSelectBoxCell .downarrow-button,.page-layout,.gwt-DecoratedPopupPanel,.gwt-MenuBarPopup,.accounter-button-seperater,#overlay{
	position: absolute;
}
a,.falseHyperlink,.update-link span,.actionOver,#mainFooter a:hover,.hr-reports a,.handCursor{
    text-decoration: underline;
}
body/*,.highlightedFormItem */{
	overflow: auto;
}
html,body,#overlay{
	height:100%;
}
.viewTitle{
	margin: 3px 0 0 10px;
}
.panelTitle {
	margin-right: 12px;
}
.imageLink {
	margin: 2px 0 1px 2px;
}
.imageLink img {
	margin-right: 3px;
}
.toolbox,.gridSelectBoxCell .downarrow-button,.dateBoxPopup{
	z-index:1;
}
.toolbox,.helpPanel {
	border-bottom: 1px solid #2A8EBF;
}
.highlightedFormItem {
	border: 1px solid #FF0000 !important;
    width: 184px !important;
    height:24px !important;
}
.gwt-DialogBox,.gwt-PopupPanel,.gwt-DecoratedPopupPanel {
	z-index: 500000;
}
.headerlabel {
	line-height: 1.6;
}
.selectedview_textareadata {
	border: 2px solid #fff;
	min-height: 53px;
	text-align: justify;
	margin: 0 2px;
}
.gwt-DecoratedPopupPanel,.address div{
	overflow: visible;
}
.gwt-SuggestBox,.gwt-TextBox,.gwt-PasswordTextBox,.blue-day-grid tr,.popup,.message,.gwt-DatePicker .datePickerDays tr,.gwt-DateBox {
	border: 1px solid #AAAAAA;
}
.gridBody1 tr td div,.selectedview,.childNode tr td,.parentNode tr td,.gridBody tr td div,.gridHeader tr td div,#contactable,#contactForm{
	overflow: hidden;
}
.gridHeader td,.gridBody tr td {
	display: table-cell;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.listgrid {
	overflow-y: visible;
	height:150px !important;
}
input[type="checkbox"] {
	margin: 0 3px 0 0;
}
.gridBody1 .selected {
	background:none repeat scroll 0 0 #D4E8FF;
}
.gridBody1 td {
	border-bottom: 1px solid #e6e6e6;
}
.childNode {
	margin-left: 23px;
}
.treeCellIcon {
	padding-left: 4px;
}
.fTable-noButton .fTablePortlet tr td,.fTablePortlet tr td{
	padding-left:4%;
}
.gwt-Tree .gwt-TreeItem-selected {
	padding-right: 2px;
	display: table !important;
}
.downarrow-button,.standard_label,.custom-combo,.editTable .comboBox .gwt-TextBox,.sales_tax_buttons .image-button{
	float:left;
}
.Caption img,.gwt-TreeItem img {
	padding-left: 8px;
	padding-top: 2px;
}
.gridLabelCell img {
	margin-right: 3px !important;
}
select[multiple] {
	border: 1px solid #A7ABB4 !important;
}
.usd-errormsg,.serverResponseLabelError,.star {
	color: #E23333;
}
.helpContent,.measurePanel,.commentPanel,.portlet-body {
	background-color: #FFFFFF;
}
.editTable .gwt-TextBox{
	width:100% !important;
}
.page-layout,.MenuBarParent table,.dropdownFlex,.td00,.td01,.td02 {
	border-spacing: 0;
}
.no-title {
	position: static !important;
}
.no-title .td00,.no-title .td01,.no-title .td02,.no-title .decor00,.no-title .decor02,.gwt-DialogBox .dialogBottomCenter{
	height: 5px;
}
.td00,.td02{
	width: 8px;
}
div.gridBodyContainer,.action-panel .panelBody .panelContent,.action-panel,.scroll-panel {
	overflow-y: auto;
}
.panel-title {
	margin-top: 7px;
	text-transform: uppercase;
}
.border,.treeGrid {
	border: 1px solid #A7ABB4;
}
.address {
	margin-top: 5px;
	border: 1px solid #888888;
	font-size: small;
}
.address div {
	height: 15px;
}
.users-grid tr:hover {
	background: #6bc3cb;
}
.plain00 {
	padding-bottom: 6px;
	padding-right: 0;
}
.plain00,.ws-tools .gwt-TabBar {
	padding-top: 9px;
}
.workspace-panel .gridHeader td.gridHeaderCell:hover,.user-panel .gridHeader td.gridHeaderCell:hover{
	background-image: none;
}
.gwt-DialogBox .caption {
	height: 30px;
	padding: 6px 4px 3px 6px;
}
.gwt-DialogBox .dialogMiddleCenter,.dateBoxPopup .popupContent .datePickerMonthSelector td,.dateBoxPopup .popupContent .datePickerDays td {
    padding: 3px;	
}
.gwt-DialogBox .dialogMiddleCenter{
	background: none repeat scroll 0 0 #eeeeee ;
}
.gwt-MenuBar-vertical,.gwt-DecoratedTabBar .gwt-TabBarItem{
	background:none repeat scroll 0 0 #39828B;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected{
	background:none repeat scroll 0 0 #1A5158;
}
.gwt-DecoratedTabBar .tabMiddleCenter {
	padding: 0 4px 2px;
}
.financialDataTitle {
	background: none repeat scroll 0 0 #BBBBBB;
}
.datePickerMonthSelector,.dateBoxPopup .gwt-DatePicker .datePickerWeekdayLabel,.dateBoxPopup .gwt-DatePicker .datePickerWeekendLabel{
	background:none repeat scroll 0 0 #3299A4 !important;
}
.gwt-PopupPanel {
	border: 3px solid #D1E8A3;
}
.portlet .gridHeader {
	border: medium none !important;
}
.GALD-WOLD{
	border:2px solid #aaa !important;
}
.GALD-WOKD{
	background:#aaa !important;
}
.report-hover {
	background: #AAAAAA repeat-x scroll 0 0;
}
.no_records .report-hover{
	background:none !important;
	cursor:auto;
}
.page-link {
	margin-right: 5px;
}
.tabMiddleCenter,.gwt-Image,.MenuBarParent tr td  {
	margin: 0px !important;
}
@font-face {
	font-family: "ColabThi";
	src: url("Fonts/ColabThi.otf") format("truetype");
}
.widget { 
	background: none repeat scroll 0 0 #E3E3E3;
}
.GL0PBETBEC {
	background: none repeat scroll 0 0 #F3F4F4 !important;
}
.removeHeadBorder {
	border-top: 0px !important;
}
.removeRightBorder {
	border-right: 0px !important;
}
.widget img {
	margin-top: 3px;
}
#closeButton {
	margin: 15px 6px 6px;
}
.stack {
	border-right: 1px solid #8fbbe9;
	border-left: 1px solid #8fbbe9;
	border-bottom: 1px solid #8fbbe9;
}
.popup {
	z-index: 500001;
	margin-top: -3px;
}
.main-finance-window,.gwt-TabPanelBottom {
	background: none repeat scroll 0 0 #F0F0F0;
}
.handCursor {
	color: #44700C;
	font-size: 15px;
}
.ReportGrid .gridBody tr td {
	border-right: 0px none;
}
.ReportGrid .gridBody{
    width: 99.99% !important;
}
.listgridfooter {
	background: #EEEEEE none repeat scroll 0 0;
}
.listgridfooter td,.ReportGrid .gridBody tr td,.plain00,.menu_arrow {
	padding-left: 5px;
}
.blue-month-line,.blue-week-line{
	text-transform: capitalize;
}
.blue-day-grid,.blue-month-line,.blue-week-line,.blue-date-picker{
    width: 184px;
}
.blue-week-end,.blue-current-month-week-end,.gwt-DatePicker .datePickerDayIsWeekend {
	background-color: #EEEEEE;
}
.blue-other-day,.blue-week-end,.datePickerDayIsFiller {
	color: #AAAAAA;
}
.blue-current-month-other-day,.blue-current-month-week-end,.blue-other-day,.blue-week-end,.blue-current-month-selected,.gwt-DatePicker .datePickerDay{
	border-right: 1px solid #aaa; 
}
.blue-current-month-selected {
	background-color: #CCCCCC;
}
.statusLabelParent,.popupContent table td {
	vertical-align: middle !important;
}
.closeBtnParent {
	align: right;
}
.margin-t {
	margin-top: 25px;
}
.margin-b {
	margin-bottom: 10px;
}
.table-fixed,.listgridfooter,.biz-decor-panel,.listgrid .gridBody,.gridHeader,.gridBody {
	table-layout: fixed ;
}
.dateList {
	min-width: 15px !important;
}
.column-seperater {
	padding: 0 30px;
}
.borders {
	border-top: 1px solid #000;
}
.editTable .editheader td,.borders,form#contactForm .submit,form#contactForm input, textarea,.dashboard_label{
	padding:5px;
}
.borders td,.borders {
	border-bottom: 1px solid #000;
}
.borders td td {
	border-bottom: 0px none;
}
.title-color {
	background: #EDF2F8 none repeat scroll 0 0;
}
.report-toolbar {
	padding-right: 3px;
}
.logview-border {
	border: 1px solid #C6E2FF;
	height: 100px;
}
tr.net-profit td {
	border-bottom: 1px solid #FFF !important;
}
.dropdownTable {
	  overflow-x:hidden ;
	  overflow-y:auto ;
}
.dropdownFlex td,.button-layout button,.action-panel .panelContent a,.handCursor,.gridBody tr td div,.gridHeader tr td div {
	white-space: nowrap;
}
.gwt-DecoratedTabBar .tabTopLeftInner,.gwt-DecoratedTabBar .tabTopRightInner{
	width:6px;
	height:6px;
}
input.dropdown-button {
	padding-right: 22px;
	padding-left: 3px;
}
.disable-TextField {
	background: none repeat scroll 0 0 #E6E0DA;
}
.main-w-finance {
    border:1px solid #7A7A7A;
}
.falseHyperlink {
	color: blue;
}
.gwt-Button[disabled],.gwt-Button[disabled]:hover {
	background: none repeat scroll 0 0 #b7b7b7;
	border:1px solid #858585;
}
.gwt-MenuBar-horizontal,.empty_menu_bar,.menubar-devider,td.td01,.decor02,.finance-portlet .decor00{
	background: -moz-linear-gradient(top,  #3299A4,   #1A5158);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3299A4', endColorstr='#1A5158'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#3299A4), to(#1A5158)); /* for webkit browsers */
    background: -o-linear-gradient(top,  #3299A4,  #1A5158);
}
.gwt-MenuBar-horizontal {
	margin-top: 0px\0  !important;
	padding-left:11px;
}
.empty_menu_bar{
    padding: 16px;
    margin-top:13px;
}
.gwt-MenuBar-horizontal .gwt-MenuItem { 
	vertical-align: bottom;
	height: 31px;
	padding: 5px 10px 8px;
	height: 20px\0  !important;
}
.sales_tax_buttons .image-button,.gwt-Button{
	 margin: 0 3px;
}
.gwt-Button {
	background: none repeat scroll 0 0 #1A5158\0;
    display: inline;
    float: left;
    padding: 0 5px 5px;
    padding: 4px 5px 5px\0 !important;
}
.gwt-Button:FOCUS,.image-button:FOCUS{
    border:1px solid #10CDD1
}
.cancle-Btn:FOCUS{
	border:1px solid #352B2B;
}
.gwt-Button,.addAccountPortlet,.addButtonPortlet,.account_portlet,.gwt-Button:hover,.image-button-hover,
.image-button:hover,.saveAndClose-Btn:hover{
	border:1px solid #002E36;
}
.gridBody tr td,.companyInfoPanel .header,.label-title-list,.gwt-RadioButton label,.portletLabel,.organisation_Info {
	font-size: 13px;
}
.portletLabel {
	margin-top: -2px;
}
.boldtext tr:nth-child(3){
    border-bottom:1px solid #aaa;
    border-top:1px solid #aaa;
}
.custom-combo .dropdown-button {
	width: 50px !important;
}
.menu_arrow {
	margin: 0 0 0 7px;
}
.logout-html,.userName-style,.helpBar{
	padding-left: 21px;
	height:16px;
	margin: 2px 0;
}
.gridSelectBoxCell .downarrow-button {
	background: url("/images/Drop-down-button_20x22.png") no-repeat scroll 0 0 transparent !important;
	margin-left: -18px;
	float: none\0;
	width: 22px;
}
.editTable .downarrow-button{
	margin-left: -24px\0 !important;
}
.downarrow-button {
	background: url("/images/Drop-down-button_20x22.png") no-repeat scroll 0
		0 transparent !important;
	margin-left: -22px;
	margin-left: -23px\0;
	width: 22px;
	margin-top:1px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
	background: url("/images/Menu list seperator.png") repeat scroll 0 0
		transparent !important;
	height: 2px !important;
}
.subMenuIcon img {
	background: url("/images/Sub_menu_indicator_side.png") repeat-x scroll 0
		0 transparent !important;
}
.header_links{
	background: url("/images/Seperator_right.png") repeat-y scroll 0 0
		transparent;
	padding-left: 10px;
}
.userName-style {
	background: url("/images/User.png") no-repeat scroll 0 0 transparent;
}
.helpBar {
	background: url("/images/Help.png") no-repeat scroll 0 2px transparent;
}
.logout-html {
	background: url(/images/logout.png) no-repeat scroll 0 1px transparent;
}
.standard-options {
	background: none repeat scroll 0 0 white;
	width: 99.4%;
}
.standard_label {
	margin: 5px 0 0 15px;
}
.contact-deatils-area,.report-toolbar input[type="text"] {
	width: 200px;
}
.terms-payment-area,.contact-deatils-area,.gwt-TextArea,.memoTextArea{
	 resize: none;
}
.gwt-TextArea,.memoTextArea{
	height: 65px;
}
.selectedview_textarea_label,.gwt-TextArea {
    padding:5px 0 0;
}
.gwt-TextArea {
    width: 190px !important;
}
.memoTextArea {
    width: 359px !important;
}
.memoTextArea[disabled],textarea[disabled],.dropdown-disabled input[disabled],.dropdown-disabled input[disabled='disabled']
,.gwt-TextBox input[disabled],.gwt-TextBox input[disabled='disabled'],.disable-TextField {
	color: #000000;
}
.downarrow-button,.custom-combo,.biz-decor-panel .decor01,.toolbox,#mainFooter{
	position: relative;
}
.gwt-TabPanelBottom,.gwt-StackPanel .gwt-StackPanelItem{
	padding:6px;
}
.logout-html a,.help-style span,.userName-style,.helpBar {
	color: #3299A4;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 4px 14px 4px 10px ;
}
.floatright,.button_bar,.panel-right-align,.image-button,.upload-logo,.gridSelectBoxCell .downarrow-button,.vendor_list_1099 button,
.user_activity_dateform .gwt-Button{
	float:right;
}
.gridHeader td, .gridBody td{
	padding:4px;
}
.gridTextBoxCell input[type="text"] {
	padding: 0 0 0 5px;
}
.panel-right-align {
	margin-top:5px;
}
.addrsFormCellAlign {
	padding-top: 3px;
}
.memoFormAlign {
	width: 55px;
}
.gwt-DialogBox .dialogTopLeft {
	 height: 16px;
}
.finance-portlet .decor00 {
	 border-radius: 5px 0 0 0;
	 -webkit-border-radius:5px 0 0 0;
	 -moz-border-radius:5px 0 0 0;
}
.calendar-picker,.selectedview {
	margin-left: 3px;
}
iframe,.address div {
	display: block;
}
.helpBar,.gwt-Button,.gwt-MenuBar-horizontal .gwt-MenuItem,.gwt-TabBar .gwt-TabBarItem,table td,select{
	font-weight: normal;
}
.companyName {
	background: none repeat scroll 0 0 #B8BCC0;
	padding: 4px 0;
	margin: 20px 0 0 10px;
}
.general-setting-invoice {
	margin: 0 30px;
}
.general-image,.view_manager_body {
	margin-right: 20px;
}
.general-main-class p {
	margin-bottom: 0px;
}
.logo,.header_links {
	margin:14px 0 0 25px;
}
.report-toolbar input[type="text"] {
	width: 140px !important;
}
.input.invoiceListCombo {
	width: 105px;
}
.commentPanel {
	margin: 15px 15px 0px;
}
.error-panel li{
	list-style-type: none;
}
.margin-b,.handCursor,.error-panel{
	margin-bottom: 10px;
}
.error-panel{
	background: none repeat scroll 0 0 #FFEBE8;
    border: 1px solid red;
}
.help-data {
	margin-bottom: 280px !important;
}
.main-class-pannel,.gwt-PopupPanel,.gwt-TabPanelBottom { 
	border: 1px solid #1A5158;
}
.change_password_view,.setting-class-panel{
	border-color: #989898;
}
.bold,.unused-payments td,.tax-form td{
    font-weight: bold;
}
.down-panel {
	font-weight: bold;
	color: #464545 ;
	margin-top: 15px;
}
.change_password_view,.setting-class-panel{
	border-width: 1px;
}
.date-number td:nth-child(2),.datenumber-panel table{
   padding-right:15px ;
}
.measurePanel {
	margin-top: 80px;
	border: #989898 solid 1px;
	padding: 2px;
}
.rightBorder {
	border-right: #CCCCCC solid 1px;
}
.itemGrid {
	margin-top: 25px;
}
.upload-logo {
	border: 1px solid #DDDDDD;
	margin: 10px 2px;
}
.upload-logo img,.upload-logo{
	height: 150px;
	width: 160px;
}
.name-item {
	margin-left: 75px;
}
.add-new-expense {
	margin-bottom: 20px;
}
.invoice-branding-html p font,.user-html p font,.company-settings-html p font,.page_header .companyName,.progress_header,.label-title{
	font-size: 1.6em;
}
.MENU_BAR_BG,.button-expense {
	margin-top:18px;
}
.help-panel tr td table td,.service-item-group td,.new_service_table td,.purchase_info_form td,.companyInfoPanel .gwt-Label{
	text-align: left;
}
.due_form_table td:FIRST-CHILD {
	width: 10.5%;
}
.service-item-group .item-form-view td:FIRST-CHILD{
	width:195px;
}
.datenumber-panel { 
	margin-right: 29px;
}
.portlet-body .ibutton {
	margin-left: 10px;
}
.service-item-group td:last-child table td:FIRST-CHILD{
	width: 50%;
}
.banking-portlet,.expense_claim_portlet {
	width: 50%;
	padding-right:11px;
}
.gwt-DialogBox .dialogTopRightInner{
	width:5px !important;
}
.setup_panel{
    margin: 4em auto;
    width: 800px;
}
.progress_panel_show{
	background: none repeat scroll 0 0 #ECECEC;
    padding-right: 15px;
    width:190px;
}
.progress_panel_data{
	padding-top: 15px;
	padding-left:10px;
}
.progress_panel_hide{
	border-right: 1px solid gray;
    padding-right: 25px;
}
.view_button{
	padding-left:30px;
}
.setup_header_label{
	color: #144149;
    font-size: 23px;
    padding-bottom: 15px;
}
.view_manager{
	margin-left:20px;
	padding-bottom:50px;
}
.view_manager_body{
	width:960px;
}
.organisation_comment{
	padding: 5px 0 15px 22px;
}
.organisation_comment,.referComment{
	color: #808080;
 }
.referComment{
    padding: 6px 0 41px 64px;
}
.setuppage_body{
 	padding: 12px 0 0 15px;
}
.accountReferCombo{
	margin-left: 15px;
}
.supplierReferCombo{
	margin-left: 13px;
}
.customerReferCombo{
	margin-left: 2px;
}
.view_panel,.setup_panel{
	height: 500px;
}
.addAccountPortlet,.addButtonPortlet,.account_portlet,.setting-class-panel,.prepare1099form{
	margin-top:10px;
}
.general-image,.addAccountPortlet,.addButtonPortlet,.account_portlet{
	margin-left:30px;
}
.addAccountPortlet:hover,.addButtonPortlet:hover,.account_portlet:hover,.gwt-Button:hover{
	background:none repeat scroll 0 0 #002E36;
}
.image-button,.Empty-text{
	background-repeat:no-repeat;
}
.image-button{
	background-color: #29646C;
    background-position: 5px center;
    border: 1px solid #1A5158;
    padding:0 5px 5px 27px;
    padding:0 5px 0 27px\0 !important;
}
.addNewButton{
	margin:5px;
}
.accounter-button-seperater,.image-button,#mainFooter,.gwt-Button,.recounciliation_grid thead th{
	 height: 25px;
}
.image-button:hover,.saveAndClose-Btn:hover{
	background-color:#1A5158;
}
.grouped-buttons td:FIRST-CHILD .image-button,.cancle-Btn,.grouped-buttons .image-button,
.grouped-buttons td:FIRST-CHILD .image-button,.grouped-buttons .image-button,.Empty-text{
	background-color: #E4E4E4;
}
.grouped-buttons td:last-child .image-button{
	background-color: #E4E4E4;
}
.cancle-Btn:hover,.cancle-Btn-hover{
	background-color:#A0A0A0;
}
.Empty-text{
	background-position: center center ;
}
.grouped-buttons td:FIRST-CHILD .Empty-text,.grouped-buttons td:FIRST-CHILD .image-button{
    border-radius: 5px 0 0 5px ;
    border-width: 1px 0 1px 1px ;
}
.grouped-buttons td:last-child .Empty-text,.grouped-buttons td:last-child .image-button,.grouped-buttons .Empty-text{
	border-radius:0 5px 5px 0;
}
.editTable .gwt-TextBox,.editTable .gwt-DateBox,.grouped-buttons .image-button{
	border-radius:0px; 
}
.grouped-buttons .image-button{
	margin:0 -2px;
}
.grouped-buttons td:first-child .image-button{
	margin-right:2px;
}
.grouped-buttons td:FIRST-CHILD .image-button,.grouped-buttons .image-button,.grouped-buttons td:FIRST-CHILD .Empty-text{
	border-color:#a0a0a0;
}
.grouped-buttons td:only-child .Empty-text,.grouped-buttons td:only-child .image-button{
	border-radius:5px 5px 5px 5px;
}
.group-toolbar .grouped-buttons .Empty-text:hover,.group-toolbar .grouped-buttons .image-button:hover,.group-toolbar .grouped-buttons .Empty-text-hover
,.group-toolbar .grouped-buttons .image-button-hover{
	background-color:#5F5F5F;
	color:white;
}
body,#loading .loadingIndicator,.panel-right-align .gwt-Button button,#overlay{
    margin: 0;
}
.panel-right-align .gwt-Button button{
	background: none repeat scroll 0 0 #1A5158;
    border: medium none;
}
.caption table td:FIRST-CHILD img,.tick_hidden,.ReportGrid td.gridDecimalCell{
	padding-right:5px;
}
.tabMiddle .tabMiddleCenterInner .gwt-Label{
	padding-bottom: 3px;
}
.panel-logo .change-logo,.panel-logo .remove-logo{
	color: #1A5158;
    margin-right:8px;
}
.companyName,#mainFooter,#mainFooter a,#mainFooter span,.empty_date_field{
	color: #666666;
}
#mainFooter{
	clear: both;
    margin-top: -35px;
    padding-top: 8px;
}
#mainFooter a,#mainFooter span,.gwt-DisclosurePanel .header{
	 text-decoration: none;
}
.empty_date_field{
	text-transform: lowercase;
}
.skip_setup,.start_setup{
    margin: 50px 15px 10px;
}
/*.skip_setup .gwt-Button,.start_setup .gwt-Button{
	float: none !important;
    margin: 10px 0 0 !important;
}
.skip_start tr td{
	padding-right:30px;
}
.skip_start tr td button{
    margin: 20px 100px 0 0 !important;
}*/
.setup_Info,.company_Info_table,.inviteUserLabel,.progress_header{
	margin-top: 10px;
}
.company_Info_table .gwt-ListBox,.refer_listbox,.fiscal_listbox,.currency_listbox{
	  width: 185px;
}
.company_Info_table .gwt-ListBox,.refer_listbox,.fiscal_listbox,.currency_listbox,.gridTextBoxCell input[type="text"]{
    height: 24px;
}
.tick_hidden{
	visibility: hidden;
}
.tick_show,.progress_panel_show{
	visibility: visible;
}
.company_Info_table tr td:FIRST-CHILD,.amount,.ReportGrid td.gridDecimalCell{
	text-align: right;
}
.company_Info_table tr td:FIRST-CHILD {
	padding-right:25px;
}
.organisation_Info{
	padding: 7px 0;
}
.organization_listbox{
	margin: 0 0 14px 25px;
}
.refer_customer,.refer_supplier,.refer_account,.refer_panel{
	padding: 10px 0 0 15px;
}
.refer_panel{
	margin:15px 0px;
}
.refer_panel td:FIRST-CHILD,.select_grid td:FIRST-CHILD{
	width:100px;
}
.refer_panel td:FIRST-CHILD div{
	font-size:17px;
}
.check_label{
	margin: 10px 0 10px 15px;
}
.check_label td,.sales_tax td,.settings_later{
	padding:10px 0px;
}
.track_emp_vpanel td,.sales_tax td,.estimate_stmt_acc td,.bills_panel td,.track_time_panel td{
	padding:0 0 10px 0px;
}
.main-finance-window,#loading .loadingIndicator,#loading{
	height: auto;
}
.main-finance-window{
	min-height: 100%;
}
.logout-help-welcome,form#contactForm p,.panel-title{
	font-size:0.9em;
}
.main-finance-window,.gwt-MenuBar-vertical .gwt-MenuItem,.gwt-DialogBox,#mainFooter,.popup,.setup_panel,.gwt-PopupPanel,.dateBoxPopup{
	/*font-size:0.8em;*/
	  font-size:13px;
}
.billing_stmt_footer,#mainFooter{
	border-top:1px solid #ccc;
}
.billing_stmt_footer{
	border-bottom:1px solid #ccc;
	padding:0 0 10px 25px;
}
.track_time_panel .employee_yesno,.track_question,.bills_panel .employee_yesno{
	padding-left:25px;
}
.fiscal_panel{
	margin-top:25px;
}
.fiscal_panel td:FIRST-CHILD {
	padding-right:10px;
}
.boldtext{
	margin:10px 0px 10px 5px;
}
.expense_question_link{
	margin:10px 0px;
}
.setup_accounts{
	padding-top:20px;
}
.review_expense_account,.sub_industry_listpanel,.industry_list_table,.setup_panel,.commentPanel,.skip_setup,.start_setup{
	border:1px solid gray;
}
.review_expense_account,.sub_industry_listpanel{
	margin:0 5px 0 14px;
}
.review_expense_account{
	margin:8px !important;
}
.select_industry_list{
	padding-left:10px;
}
.industry_list_table select{
	width:300px;
}
.accounts_label,.industry_list_table .select_industry,.contentSelected,.gwt-Tree .gwt-TreeItem-selected,.contentSelected_LastChild{
	background:#ccc;
}
.customize_Accounter_labels{
	margin-bottom:5px;
}
.email_textarea textarea,.recounciliation_grid{
	height:200px;
}
body,div, table td, select,.gwt-Button,textarea,input,label,.ReportGrid tr td,.gwt-Label,form#contactForm .submit,form#contactForm input, textarea{
	/*font-size:1em;*/
	  font-size:13px;
	font-family: Arial Unicode MS,Arial,sans-serif;
}
.gwt-PasswordTextBox,.gwt-DisclosurePanel .content{
	padding:0px;
}
.edit_user_profile input[type="text"]{
	margin:5px;
}
.view_panel table table tr:last-child td .gwt-Button{
	margin:15px;
}
.setupstartpagepanel button{
	margin:15px;
}
.gwt-StackPanel .gwt-StackPanelItem {
    border-radius: 8px 8px 0 0;
}
.gwt-StackPanelContent TABLE TBODY TR TD{
	padding:10px;
}
.gwt-StackPanelContent{
	border-radius:0 0 8px 8px;
}
.companyInfoPanel{
	border-bottom: 1px solid #2D8B93;
    border-top: 1px solid #2D8B93;
}
.contentSelected_LastChild{
	border-radius:0 0 8px 8px !important;
}
.stackPanelLink{
	color: #2D8B93;
}	
.company_stackpanel_view,.viewholder{
   padding:15px;
}
.editTable input[type="text"]:FOCUS{
	height:20px !important;
}
input[type="text"]:FOCUS, textarea:FOCUS,.dateBoxPopup .gwt-DatePicker{
	border: 1px solid #3299A4;
}
input[type="text"]:FOCUS, textarea:FOCUS{
    box-shadow: 0 0 5px #3299A4;
}
a#fdbk_tab,#overlay{
	top:0 !important;
}
.recounciliation_grid thead th{
	text-shadow: none;
	border-bottom:0 none;
}
.user_activity_log,.recounciliation_grid,.editTable,.company_stackpanel_view,.gwt-StackPanelContent,.ReportGrid .gridHeader .gridHeaderRow, 
.listgrid,.ReportGrid,.selectedview{
	border:1px solid #2D8B93;
}
.view_help_panel td:FIRST-CHILD table,.helpdialog .dialogTopCenter table{
    height: 32px;
    width:101% !important;
}
.view_help_panel iframe{
	 border: 2px solid #3D2F29;
	 height:600px;
}
.view_help_panel{
	padding-right:20px;
}
.helpdialog .view_help_panel,.helpdialog .dialogMiddleCenter{
	padding:0px ;
}
/*.helpdialog .view_help_panel iframe,*/.selectedview_textareadata{
	height:auto;
}
* html .editTable,.editTable{
	min-height:130px;
}
.editTable .editheader td,.gridHeader td{
	border-color: #55B8C1;
}
.editTable .editheader td,.editTable td,.gridHeader td{
    border-width: 0 1px 1px 0;
}
.gridBody tr td{
	border-width: 0 1px 0 0;
}
.editTable td,.gridBody tr td{
	border-color: #CCCCCC;
}
/*.dropdownFlex .GI4MLOCBID,*/.user_activity_log tr:nth-child(even),.gridOddRow,.dropdownFlex tr:nth-child(even)/*,.GL0PBETBED*/{
	background:none repeat scroll 0 0 #E8E8E8;
}

.user_activity_log tr:nth-child(even) td,.user_activity_log tr:nth-child(even):hover{
	border:2px solid #E8E8E8;
}
.recouncilation_value {
	margin-left: 90px;
}
.recoucilation_change button{
	margin-bottom: 15px !important;
}
.custom-combo{
	width:155px;
}
.dateBoxPopup{
	width:182px;
}
input.gwt-TextBox,input.gwt-DateBox{
	width:172px !important;
}
input[type="text"]{
	line-height /*\**/: 1.8\9
}
.new_vat_item tr td:FIRST-CHILD {
	width:250px;
}
.gwt-DialogBox,.gwt-Button,.image-button {
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
}
.gwt-DialogBox {
    box-shadow: 0 0 10px #1A5158;
    -moz-box-shadow: 0 0 10px #1A5158;
    -webkit-box-shadow:0 0 10px #1A5158;
}
.decor02{
	  border-radius: 0 5px 0 0;
	  -webkit-border-radius:0 5px 0 0;
	  -moz-border-radius:0 5px 0 0;
}
.viewholder{
    -moz-box-shadow: 0 2px 10px #1A5158;
    -webkit-box-shadow: 0 2px 10px #1A5158;
    box-shadow: 0 2px 10px #1A5158;
}
.portlet-body {
	margin-top: 10px\0  !important;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	-moz-border-radius:0 0 5px 5px;
}
.group-toolbar{
    box-shadow: 0 -6px 10px #1A5158;
    -moz-box-shadow:0 -6px 10px #1A5158;
    -webkit-box-shadow:0 -6px 10px #1A5158;
}
.gwt-DecoratedTabBar .gwt-TabBarItem{
	margin-left:6px;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
}
/*.gwt-PopupPanel{
	overflow-y:auto !important;
}
.gwt-PopupPanel table tr{
	white-space: nowrap;
}*/
.new_vat_item tr td:FIRST-CHILD {
	width:250px;
}
/*.gwt-PopupPanel .popupContent div{
	overflow-x:hidden !important;
}*/
.gwt-DisclosurePanel-closed{
	border-bottom:3px solid #3299a4;
}
.gwt-DisclosurePanel-closed table td:last-child{
	color:#3299a4;
}
.gwt-DisclosurePanel .header{
	color:#3299a4;
}
.editTable .selected,.editTable,.user_activity_log{
    background:#fff;
}
#contactable {
	background-image:url(../images/contact.png);
	height:93px;
	margin-right:-5px; 
	position:fixed;
	*position:absolute;
	text-indent:-100000px;
	top:102px;
	*margin-top:200px;
	width:44px;
	z-index:100000;
}
#contactForm {
	background-color:#333333;
	border:2px solid #FFFFFF;
	margin-right:-400px;
	margin-top:-160px;
	padding-left:30px;
	position:fixed;
	top:200px;
	width:360px;
	*width:394px;
	z-index:99;
}
form#contactForm input, textarea,form#contactForm .submit,form#contactForm p{
	width:325px;
}
form#contactForm input, textarea,form#contactForm .submit{
	outline-style:none;
	outline-width:medium;
}
form#contactForm input, textarea{
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #dfdfdf;
	margin-bottom:10px;
}
form#contactForm .submit {
	background: #F5410F none repeat scroll 0 0;
	border:3px solid #F52D0F;
	outline-color:-moz-use-text-color;
	margin-top:10px;
	text-transform: uppercase;
}
#contactForm .red {
	color:	#F5410F;
}
#overlay,#contactable,#contactForm{
	right:0;
}
#overlay {
	background-color:#666666;
	z-index:0;
}
/*.yourfeedback label:last-child{
  	display:none !important;
}*/
.yourfeedback textarea {
    height: 323px ;
}
#contact #contactform .error,#contact .yourfeedback .error { background-color: #EDBE9C; }
.gridBody .Report .underline{
	border-top:1px solid #000;
}
.user_activity_log thead th{
	border-bottom:1px solid #55B8C1;
	text-shadow: none;
}
.gridBody .depth .depth2{
	padding-left:2%;
}
*{
	outline: none;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
.contact-deatails-panel{
	padding: 0 10px;
}
button.disable,button.disable:hover{
	background-color: #74A2A5;
    border: medium none #CCCCCC;
    color: #DDDDDD;
    cursor: auto;
}
.cancle-Btn[disabled],.cancle-Btn[disabled]:hover{
	background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    color: #9B9696;
}
.general-main-class td p span{
	font-size:13px;
}