/** Add css rules here for your application. */
	/** This css file only for MAC application of accounter  */
	/*
 *	@author A.Praveena
 *
 */

body{
   width: 100% !important;
   margin:0px!important;
}
.page_header,.help-panel,.bottom-corners, .XTRA_HELP_PANEL,.MENU_BAR_BG,.dialog_help_icon{
   display: none !important;
}
.noScroll,.main-finance-window{
   background:none !important;
   padding:0px !important;
   width:100%;
}
.scroll-panel,.abstract_base_view,.financeWindow,.general-setting-invoice,.setting-class-panel{
   width:100% !important;	
}
.view_manager{
	width:90% !important;
	margin:0 auto !important;
}
