<xml>
<AccounterLogout text = "Logout">do/logout</AccounterLogout>
<ChangePassword text = "User Details">accounter#userDetails</ChangePassword>
	<menus>
		<MainMenu text="Company">
			<Menu text="Dashboard" shortcut="D">accounter#dashBoard</Menu>
			<Seperator/>
			<Menu text="New Journal Entry" shortcut="J">accounter#newJournalEntry</Menu>
			<Menu text="New Account" shortcut="A">accounter#newAccount</Menu>
			<Seperator/>
			<Menu text="Company Preferences">accounter#companyPreferences</Menu>
			<Seperator/>
			<Menu text="Manage Support Lists">
				<SubMenu text="Customer Group List">accounter#customerGroupList</SubMenu>
				<SubMenu text="Supplier Group List">accounter#supplierGroupList</SubMenu>
				<SubMenu text="Payment Term List">accounter#paymentTerms</SubMenu>
				<SubMenu text="Shipping Method List">accounter#shippingMethodsList</SubMenu>
				<SubMenu text="Shipping Term List">accounter#shippingTermsList</SubMenu>
				<SubMenu text="Price Level List">accounter#priceLevels</SubMenu>
				<SubMenu text="Item Group List">accounter#itemGroupList</SubMenu>
				<SubMenu text="Credit Rating List">accounter#creditRatingList</SubMenu>
			</Menu>
			<Menu text="Manage Fiscal Year">accounter#manageFiscalYear</Menu>
			<Seperator/>
			<Menu text="Company Lists">
				<SubMenu text="Accounts List">accounter#accountsList</SubMenu>
				<SubMenu text="Journal Entries">accounter#journalEntries</SubMenu>
				<SubMenu text="Items">accounter#items</SubMenu>
				<SubMenu text="Company Customers">accounter#customers</SubMenu>
				<SubMenu text="Company Suppliers">accounter#supplierList</SubMenu>
				<SubMenu text="Payments">accounter#payments</SubMenu>
				<SubMenu text="Sales Persons">accounter#salesPersons</SubMenu>
			</Menu>
		</MainMenu>
		<MainMenu text="VAT">
			<Menu text="New">
				<SubMenu text="New VAT Item" shortcut="V">accounter#newVatItem</SubMenu>
				<SubMenu text="New VAT Code">accounter#newVatCode</SubMenu>
				<SubMenu text="New VAT Agency">accounter#newVatAgency</SubMenu>
			</Menu>
			<Seperator/>
			<Menu text="VAT Adjustment">accounter#vatAdjustment</Menu>
			<Menu text="File VAT">accounter#fileVAT</Menu>
			<Menu text="Pay VAT">accounter#payVat</Menu>
			<Menu text="Receive VAT">accounter#receiveVat</Menu>
			<Seperator/>
			<Menu text="VAT List">
				<SubMenu text="VAT Items">accounter#vatItems</SubMenu>
				<SubMenu text="VAT Codes">accounter#vatCodes</SubMenu>
			</Menu>
		</MainMenu>
		<MainMenu text="Customer">
			<Menu text="Customers Home">accounter#customerHome</Menu>
			<Seperator/>
			<Menu text="New">
				<SubMenu text="New Customer"  shortcut="C">accounter#newCustomer</SubMenu>
				<SubMenu text="New Item">accounter#newCustomerItem</SubMenu>
				<SubMenu text="New Quote">accounter#newQuote</SubMenu>
				<SubMenu text="New Invoice">accounter#newInvoice</SubMenu>
				<SubMenu text="New Cash Sale">accounter#newCashSale</SubMenu>
				<SubMenu text="New Credit">accounter#newCredit</SubMenu>
			</Menu>
			<Seperator/>
			<Menu text="Customer PrePayment">accounter#customerPrepayment</Menu>
			<Menu text="Receive Payment">accounter#receivePayment</Menu>
			<Menu text="Customer Refund">accounter#customerRefund</Menu>
			<Seperator/>
			<Menu text="Customer List">
				<SubMenu text="Customers">accounter#customers</SubMenu>
				<SubMenu text="Items">accounter#items</SubMenu>
				<SubMenu text="Quotes">accounter#quotes</SubMenu>
				<SubMenu text="Invoices">accounter#invoices</SubMenu>
				<SubMenu text="Receive Payments">accounter#receivePayments</SubMenu>
				<SubMenu text="Customer Refunds">accounter#customerRefunds</SubMenu>
			</Menu>
		</MainMenu>
		<MainMenu text="Supplier">
			<Menu text="Suppliers Home"  shortcut="S">accounter#supplierHome</Menu>
			<Seperator/>
			<Menu text="New">
				<SubMenu text="New Supplier">accounter#newSupplier</SubMenu>
				<SubMenu text="New Item">accounter#newSupplierItem</SubMenu>
				<SubMenu text="Cash Purchase">accounter#newCashPurchase</SubMenu>
				<SubMenu text="Supplier Credit">accounter#supplierCredit</SubMenu>
			</Menu>
			<Seperator/>
			<Menu text="Enter Bill"  shortcut="B">accounter#enterBill</Menu>
			<Menu text="Pay Bills">accounter#payBill</Menu>
			<Menu text="Issue Payments">accounter#issuePayments</Menu>
			<Menu text="Supplier PrePayment">accounter#supplierPrePayment</Menu>
			<Menu text="Record Expenses">accounter#recordExpenses</Menu>
			<Menu text="Expense Claims">accounter#expenseClaims</Menu>
			<Seperator/>
			<Menu text="Supplier Lists">
				<SubMenu text="Suppliers">accounter#supplierList</SubMenu>
                <SubMenu text="Items">accounter#purchaseItems</SubMenu>
                <SubMenu text="Bills And Expenses">accounter#billsAndExpenses</SubMenu>
                <SubMenu text="Supplier Payments">accounter#supplierPayments</SubMenu>
			</Menu>
		</MainMenu>
		<MainMenu text="Banking">
			<Menu text="New Bank Account"  shortcut="b">accounter#newBankAccount</Menu>
			<Seperator/>
			<Menu text="Deposit / Transfer Funds">accounter#depositTransferFunds</Menu>
			<Menu text="Pay Bills">accounter#payBill</Menu>
			<Seperator/>
			<Menu text="New Credit Card Charge">accounter#creditCardCharge</Menu>
			<Seperator/>
			<Menu text="Banking List">
				<SubMenu text="Payments">accounter#payments</SubMenu>
			</Menu>
		</MainMenu>
		<MainMenu text="Sales">
			<Menu text="Sales Order">accounter#salesOrder</Menu>
			<Menu text="SalesOrder List">accounter#salesOrderList</Menu>
			<Menu text="SalesOrder Report"  shortcut="r">accounter#salesOrderReport</Menu>
		</MainMenu>
		<MainMenu text="Purchases">
			<Menu text="Purchase Order">accounter#purchaseOrder</Menu>
			<Menu text="PurchaseOrder List">accounter#purchaseOrderList</Menu>
			<Menu text="PurchaseOrder Report">accounter#purchaseOrderReport</Menu>
		</MainMenu>
		<MainMenu text="Reports">
			<Menu text="Company And Financial">
                <SubMenu text="Profit And Loss">accounter#profitAndLoss</SubMenu>
                <SubMenu text="Balance Sheet">accounter#balanceSheet</SubMenu>
                <SubMenu text="Cash Flow Report">accounter#cashFlowReport</SubMenu>
                <SubMenu text="Trial Balance">accounter#trialBalance</SubMenu>
                <SubMenu text="Transaction Detail By Account">accounter#transactionDetailByAccount</SubMenu>
                <SubMenu text="Expense Report">accounter#expenseReport</SubMenu>
			</Menu>
			<Menu text="Customers And Receivables">
                <SubMenu text="A/R Ageing Summary">accounter#arAgingSummary</SubMenu>
                <SubMenu text="A/R Ageing Detail">accounter#arAgingDetail</SubMenu>
                <SubMenu text="Customer Statement">accounter#customerStatement</SubMenu>
                <SubMenu text="Customer Transaction History">accounter#customerTransactionHistory</SubMenu>
			</Menu>
			<Menu text="Sales">
                <SubMenu text="Sales By Customer Summary">accounter#salesByCustomerSummary</SubMenu>
                <SubMenu text="Sales By Customer Detail">accounter#salesByCustomerDetail</SubMenu>
                <SubMenu text="Sales By Item Summary">accounter#salesByItemSummary</SubMenu>
                <SubMenu text="Sales By Item Detail">accounter#salesByItemDetail</SubMenu>
                <SubMenu text="Sales Order Report">accounter#salesOrderReport</SubMenu>
			</Menu>
            <Menu text="Suppliers And Payables">
                <SubMenu text="A/P Ageing Summary">accounter#apAgingSummary</SubMenu>
                <SubMenu text="A/P Ageing Detail">accounter#apAgingDetail</SubMenu>
                <SubMenu text="Supplier Transaction History">accounter#supplierTransactionHistory</SubMenu>
			</Menu>
            <Menu text="Purchases">
                <SubMenu text="Purchase By Supplier Summary">accounter#purchaseBySupplierSummary</SubMenu>
                <SubMenu text="Purchase By Supplier Detail">accounter#purchaseBySupplierDetail</SubMenu>
                <SubMenu text="Purchase By Item Summary">accounter#purchaseByItemSummary</SubMenu>
                <SubMenu text="Purchase By Item Detail">accounter#purchaseByItemDetail</SubMenu>
                <SubMenu text="Purchase Order Report">accounter#purchaseOrderReport</SubMenu>
            </Menu>
            <Menu text="VAT">
                <SubMenu text="Prior VAT Returns">accounter#priorVatReturns</SubMenu>
                <SubMenu text="VAT Detail">accounter#vatDetail</SubMenu>
                <SubMenu text="VAT 100">accounter#vat100</SubMenu>
                <SubMenu text="Uncategorised VAT Amounts">accounter#uncategorisedVatAmounts</SubMenu>
                <SubMenu text="VAT Item Summary">accounter#vatItemSummary</SubMenu>
                <SubMenu text="EC Sales List">accounter#ecSalesList</SubMenu>
            </Menu>
		</MainMenu>
		<MainMenu text="Settings">
			<Menu text="General Settings">accounter#generalSettings</Menu>
		</MainMenu>
	</menus>
</xml>