/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	background: transparent !important;
	bottom: 0;
	left: 0;
	margin: 2px 2px 0 12px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}

body,table td,select,.gwt-Button {
	font-size: 10pt !important;
	font-weight: normal;
}

.workBench {
	background-color: #D8DCE0;
	height: 100%;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.autoFill {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 0;
}

.bizantralogo { /*padding-bottom: 2px;
	padding-right: 10px;
	padding-top: 5px;*/
	
}

.panelTitle {
	background: none repeat scroll 0 0;
	margin-right: 12px;
}

.panelTitle .gwt-Label {
	background: transparent url(images/header-c.png) repeat-x scroll 0 0;
	height: 25px;
	overflow: hidden;
	left: 4px;
	position: absolute;
	right: 3px;
	top: 0px;
	color: #FFF;
	padding-top: 5px;
}

.panelTitle {
	/*background: url(images/nav-image.png) no-repeat scroll 0 0;*/
	margin-right: 12px;
}

.panelBody .panelContent {
	background: white none repeat scroll 0 0;
	overflow: hidden;
	margin-bottom: 12px;
	margin-right: 12px;
}

.panelBody .panelRight {
	background: transparent url(images/panel-right-img.png) repeat-y scroll
		0 0;
	bottom: 12px;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 12px;
	height: 100%;
}

.panelBody .panelBottom { /*height:18px;
	overflow:hidden;*/
	background: transparent url(images/panel-bottom-img.png) repeat-x scroll
		0 0;
	bottom: -6px;
	height: 18px;
	left: 12px;
	overflow: hidden;
	position: absolute;
	right: 16px;
}

.panelBottom {
	/*background:transparent url(images/panel-bottom-img.png) repeat-x scroll 0 0;
	position:absolute;
	right:14px;
	bottom:0px;*/
	
}

.panelBody .panelLeftBottom {
	background: transparent url(images/panel-left-bottom-img.png) no-repeat
		scroll 0 0;
	bottom: -6px;
	display: block;
	height: 18px;
	overflow: hidden;
	position: absolute;
	width: 14px;
	left: -2px;
}

.panelBody .panelrightBottom {
	background: transparent url(images/panel-right-bottom-img.png) no-repeat
		scroll 0 0;
	bottom: -6px;
	display: block;
	height: 18px;
	overflow: hidden;
	position: absolute;
	right: 4px;
	width: 12px;
}

.panelTitle .panelRight {
	/*background:transparent url(images/panel-right-img.png) repeat-y scroll 0 0;
	bottom:12px;
	height:100%;
	overflow:hidden;
	position:absolute;
	right:0;
	width:12px;*/
	
}

.panelTitle .panelLeft {
	background: transparent url(images/header-l.png) no-repeat scroll 0 0;
	height: 25px;
	overflow: hidden;
	width: 7px;
	left: -3px;
	position: absolute;
	top: 0;
}

.panelTitle .panelRight {
	background: transparent url(images/header-r.png) no-repeat scroll 0 0;
	height: 25px;
	overflow: hidden;
	width: 16px;
	position: absolute;
	right: -13px;
	top: 0;
}

.network-header {
	background: transparent url(images/header-c3.jpg) repeat-x;
	color: #FFF;
	height: 30px;
	margin-bottom: 0px;
	padding: 0 5px !important;
	white-space: nowrap;
}

* html .network-header strong {
	padding-left: 5px;
}

* html .network-header img {
	padding-right: 5px;
}

.network-header td,buttonslayout {
	padding-left: 5px;
}

.network-header .gwt-TextBox {
	margin: 0 3px;
}

.sidebar-categories { /*	color: #1985c5;*/
	color: #0000AA;
	width: 100%;
}

.handCursor,.edit-profile {
	cursor: pointer;
	cursor: hand;
}

.network-header-home {
	background: url('images/shade-image.jpg') repeat-x;
	/*margin-top: 5px;*/
	width: 100%;
}

.gwt-DecoratedTabPanel-user,.gwt-Button-add-question {
	padding: 5px !important;
}

/*.button {
	color: #050;
	font: bold small 'trebuchet ms', helvetica, sans-serif;
	margin: 0 5px !important;
	cursor: pointer;
	cursor: hand;
	margin-bottom: 0 5px !important;
	white-space:nowrap;
}*/
.button img,.sidebar-addDocument img {
	vertical-align: middle;
	margin-right: 3px;
}

.anchorLike {
	text-decoration: underline;
	color: #0000AA;
	cursor: pointer;
	cursor: hand;
}

.anchorLike1 {
	color: #0000AA;
	cursor: pointer;
	cursor: hand;
}

.navigation {
	color: #0000AA;
	padding-left: 10px;
}

.anchorFolder {
	color: #ef5714;
	cursor: pointer;
	cursor: hand;
}

.nickName-Label {
	font-size: 18px;
	font-weight: bold;
	color: gray;
}

.description-Label {
	border: 1px solid lightblue;
	padding: 5px;
	min-height: 100px;
	height: auto !important;
	height: 100px;
}

.question-description-Label {
	border: 1px solid lightgreen;
	padding: 5px;
	min-height: 100px;
	height: auto !important;
	height: 100px;
}

.RedBorder {
	border: thick;
	border-width: thick;
	color: red;
}

.RedColor {
	color: red !important;
	/*text-decoration: blink;*/
}

.user {
	color: #48a0ce;
	/*height: 200px;*/
}

.question {
	color: #797979;
}

.answer-deatil {
	font-family: cursive;
	font-size: large;
	color: silver;
}

.subcategory-PopupPanel {
	border-color: BLACK;
	border-right-width: 3px;
}

.categoryLabel {
	font-size: 20px;
	color: #797979;
}

/*.cw-FlexTable{
	border-top: 1px solid #000;
	}
.cw-FlexTable td{
	border-bottom: 1px solid #000;
	}  */
.seeAllLink {
	padding-right: 5px;
	padding-bottom: 5px;
}

.QA-question {
	width: 25%;
}

.LR-Resource-Name,.QA-question,.BQA-question,.BLR-Resource-Name,.LR-Folder
	{
	border-left-width: 1px;
	border-left-style: solid;
}

.QA-description {
	width: 26%;
}

.QA-categories {
	width: 15%;
}

.QA-createdBy {
	width: 15%;
}

.QA-date {
	width: 63pt;
}

.QA-post {
	width: 5%;
	text-align: center;
}

/*.QA-delete{
	width: 5%;
	}*/
.deleteImage,.QA-delete,cw3-FlexTable .BQA-date,.BLR-size,.BLR-rating,.BLR-download,.cw3-FlexTable .BQA-date,.BQA-post
	{
	border-right-width: 1px;
	border-right-style: solid;
}

.Table-Heading {
	background: #4a85bd none repeat scroll 0 0;
	border-top-width: 1px;
	border-top-style: solid;
	font-weight: bold;
	color: #FFF;
	border-color: #4A85BD !important;
}

.cw-FlexTable,.list-content {
	border-collapse: collapse;
	table-layout: fixed;
}

.cw-FlexTable {
	margin: 0 auto;
}

.list-content { /*margin-left: 5px;*/
	
}

.cw-FlexTable td,.list-content td {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	overflow: hidden;
	vertical-align: middle;
	height: 20px;
	line-height: 20px;
	height: 20px;
	padding-left: 5px;
}

.cw-FlexTable td div,.list-content td div {
	overflow: hidden;
	height: 20px;
	line-height: 20px;
}

.QA-question,.Table-Heading,.cw-FlexTable td,.list-content td,.deleteImage,.QA-delete,.LR-Resource-Name,.BQA-question,.BLR-Resource-Name,.BQA-date,.BLR-size,.BLR-rating,.BLR-download,.cw3-FlexTable .BQA-date,.BQA-post,.QA-post,.LR-Folder
	{
	border-color: #acbdcf;
}

.LR-Resource-Name {
	width: 24%;
}

.LR-description {
	width: 27%;
}

.LR-size {
	width: 6%;
	text-align: center;
}

.LR-createdBy {
	width: 14%;
	text-align: center;
}

.LR-date {
	width: 90px;
}

.LR-rating {
	width: 155px;
	text-align: center;
}

.deleteImage {
	width: 7%;
	text-align: center;
}

.RateItWidget table tr td,.LR-rating table tr td,.BLR-rating table tr td
	{
	border: none;
}

.username {
	height: 18px;
	overflow: hidden;
	width: 100%;
	position: relative;
}

.terminater {
	position: absolute;
	right: 0;
	top: 0;
	background: #FFF;
}

.BQA-question {
	width: 43%;
}

.BQA-categories {
	width: 30%;
}

.BQA-date {
	width: 15%;
}

.BQA-post {
	width: 10%;
}

.cw3-FlexTable .BQA-question {
	
}

.cw3-FlexTable .BQA-categories {
	
}

.cw3-FlexTable .BQA-date {
	
}

.BLR-Resource-Name { /*width: 43%;*/
	
}

.BLR-createdBy {
	width: 15%;
}

.BLR-date {
	width: 15%;
}

.BLR-size {
	width: 10%;
}

.BLR-rating {
	width: 155px;
}

.BLR-download {
	width: 11%;
}

.userName {
	font-size: 15px;
	font-weight: bold;
}

.qa-FlexTable { /*	border-collapse: collapse; */
	table-layout: fixed;
	margin: 0 auto;
}

.answer-FlexTable {
	background: transparent url(images/answer.jpg) no-repeat scroll 0 0;
	/*	border-top-width: 1px;
	border-top-style: solid;*/
	padding: 12px 0 0 30px;
	overflow: hidden;
	vertical-align: top;
}

.user-profile {
	
}

.user-profile-col0 {
	width: 115px;
}

.user-profile-col1 {
	
}

.profile-photo {
	float: right;
}

.check-available {
	height: 31px;
}

.if-available {
	color: green;
}

.no-available {
	color: red;
}

.resourse-sidebar {
	height: 82px;
	overflow-x: hidden;
	overflow-y: auto;
}

.oddRow {
	background: #d7e0f1;
}

.seperator {
	border-bottom: 1px dashed #CCC;
}

.msg {
	color: #555555;
	padding-left: 5px;
}

.greencolor {
	text-align: center;
	color: green;
}

.redcolor {
	text-align: center;
	color: red;
}

.emptycell {
	border-right: 1px solid;
	border-left: 1px solid;
}

.bottom-TabPanel {
	border-color: #92C1F0;
	border-style: solid;
	border-width: 3px 2px 2px;
	overflow: hidden;
}

.resources-scroll {
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar-addDocument {
	vertical-align: middle;
}

.navigation {
	cursor: pointer;
	cursor: hand;
	color: #0000AA;
}

.subCategoryPopup {
	height: 150px;
	margin-bottom: 5px;
	overflow: auto;
	width: 150px;
	color: #444444;
}

.subCategoryPopup fieldset {
	border: 0 none;
}

.subCategoryPopup .seperator {
	white-space: nowrap;
}

select[multiple] {
	background: #FFF;
}

.category-links td {
	color: #0000AA;
}

.commonRichText {
	padding-left: 35px;
}

.answerBox {
	border: 3px solid black;
}

.arrowImage {
	margin-top: 1px;
}

.biz-decor-panel {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}

.page-layout {
	border-spacing: 0;
	position: absolute;
	top: 0;
}

.biz-decor-panel td,.page-layout td {
	padding: 0;
	margin: 0;
}

.td11 {
	vertical-align: top;
}

/*First row height*/
.td00,.td01,.td02,.decor00,.decor02 {
	height: 25px;
}

/*If no title First row height*/
.no-title .td00,.no-title .td01,.no-title .td02,.no-title .decor00,.no-title .decor02
	{
	height: 5px;
}

/*Third row height*/
.td20,.decor20,.td21,.decor21,.td22,.decor22 {
	height: 12px;
}

/*First column width*/
.td00,.decor00,.td10,.decor10,.td20,.decor20 {
	width: 5px;
}

/*Third column width*/
.td02,.decor02,.td12,.decor12,.td22,.decor22 {
	width: 12px;
}

td.td11,td.td10 {
	background: #FFF
}

.td12,.decor12,.decor10 {
	height: 100%;
}

.decor00 {
	background: transparent url(images/header-l.png) no-repeat scroll -2px 0
		;
}

td.td01 {
	background: transparent url(images/header-c.png) repeat-x scroll 0 0;
	color: #FFFFFF;
	vertical-align: top;
}

.decor02 {
	background: transparent url(images/header-r.png) no-repeat scroll 0 0;
}

/*If no title First row images*/
.no-title .decor00 {
	background: transparent url(images/title-shade-l.png) no-repeat scroll 0
		0;
}

.no-title td.td01 {
	background: #FFFFFF none repeat scroll 0 0;
}

.no-title .decor02 {
	background: transparent url(images/title-shade-r.png) no-repeat scroll
		-5px 0;
}

.no-title td.td12 {
	/*background: transparent url(images/title-shade-r.png) no-repeat scroll
		-5px -4px;*/
	background: transparent url(images/panel-right-img.png) repeat-y scroll
		0 0;
	overflow: hidden;
}

.no-title .decor12 { /*margin-top: 12px;
	position: relative;
	top: 12px;
	background: transparent url(images/panel-right-img.png) repeat-y scroll 0 0;
	bottom:0;*/
	
}

* html .no-title .decor22 { /*position: relative;
	z-index: 10;
	background-color: #D8DCE0;*/
	
}

.decor10 {
	background: transparent url(images/panel-left.png) repeat-y scroll -2px
		0;
}

td.td12 {
	background: transparent url(images/panel-right-img.png) repeat-y scroll
		0 0;
}

.decor20 {
	background: transparent url(images/panel-left-bottom-img.png) no-repeat
		scroll -2px 0;
}

.decor21 {
	background: transparent url(images/panel-bottom-img.png) repeat-x scroll
		0 0;
}

.decor22 {
	background: transparent url(images/panel-right-bottom-img.png) no-repeat
		scroll 0 0;
}

.decor11 {
	overflow-x: hidden;
	overflow-y: auto;
}

.no-title .decor11 { /*padding: 5px;*/
	
}

td.sidebar {
	padding-left: 6px;
}

td.sidebar {
	vertical-align: top;
}

.action-panel,.user-panel,.welcome-panel {
	width: 100%;
}

.welcome-panel {
	height: 75px;
}

.copy-right {
	color: #555555;
	line-height: 0;
	position: relative;
	text-align: center;
	top: -3px;
}

.right-panel .decor11 { /*border: 1px solid #AAA;*/
	margin-right: 1px;
	/*margin-bottom: 1px;*/
}

.panel-title {
	color: #FFF;
	margin-top: 5px;
}

.portlet .panel-title {
	float: left;
}

.bizantralogo,.companylogo {
	padding-bottom: 2px;
	padding-right: 10px;
	/*padding-top: 12px;*/
}

.bizantralogo { /*padding-left: 12px;*/
	width: 200px;
	float: left;
}

.companylogo {
	
}

.app-container {
	height: 57px;
	overflow: hidden;
}

.right-panel,.dashboard-main-panel {
	vertical-align: top;
	height: 100%;
}