/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
.widget { /**background:url(images/icons/startBar.png) repeat-x;*/
	background: url("images/pannig bar.png") repeat-x scroll 0 0 transparent
		;
	width: 100% !important;
	/*display: none;*/
}

.copy-img {
	float: left;
	margin-top: 4px;
}

.GL0PBETBEC {
	background: none repeat scroll 0 0 #F3F4F4 !important;
}

.GL0PBETBED {
	background: none repeat scroll 0 0 #E8E8E8 !important;
}

.removeHeadBorder {
	border-top: 0px !important;
}

.removeRightBorder {
	border-right: 0px !important;
}

body {
	color: black;
	margin: 0px auto !important;
	border: 0px;
	padding: 0px;
	direction: ltr;
	width: 960px !important;
	overflow: auto !important;
	font-size: 12px;
}

.portlet .panel-title { /*float: left;*/
	left: 0;
	position: absolute;
	color: white;
}

html,body {
	height: 100% !important;
}

.widget img {
	margin-top: 3px;
	cursor: pointer;
	padding: 0 5px;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.busyindicator {
	padding-bottom: 0;
	padding-right: 20px;
	padding-left: 30%;
	padding-right: 0;
	padding-top: 14%;
	position: absolute;
}

.busyindicatorLabel {
	width: 100%;
	margin-top: -9%;
}

.busyindicatorImg {
	padding-right: 20px;
	padding-left: 8%;
}

.stackpannel {
	background: url(images/icons/stack1.png) repeat-x;
	/**padding:5px 50px 5px 5px;*/
	padding-right: 20px;
	padding-left: 2px;
}

.stack {
	border-right: 1px solid #8fbbe9;
	border-left: 1px solid #8fbbe9;
	border-bottom: 1px solid #8fbbe9;
}

/*.stackpan_items{
	padding-right:20px;padding-left:15px;
}*/
.actionOver {
	text-decoration: underline;
}

.actionOut {
	text-decoration: none;
}

/*.menuItemImage {
	background-repeat: no-repeat !important;
	padding: 4px 14px 4px 30px !important;
}*/
.boldcell {
	font-weight: bold;
	cursor: default;
}

.requiredField { /*font-weight: bold;*/
	
}

.financeBackground {
	/*background: url("images/Background.png") repeat scroll 0 0 transparent !important;*/
	/*border: 2px solid #CCCCCC;   praveena */ /*	padding: 10px;*/
	/*margin-left: 3px;*/ /* margin-top:-2px; praveena*/
	
}

.listgridViewBottom {
	border-right: 1px solid #A7ABB4;
	border-top: 1px solid #A7ABB4;
	border-bottom: 1px solid #A7ABB4;
	border-left: 1px solid #A7ABB4;
}

.depth1 {
	padding-left: 1% !important;
}

.depth2 {
	padding-left: 2% !important;
}

.depth3 {
	padding-left: 3% !important;
}

.depth4 {
	padding-left: 4% !important;
}

.depth5 {
	padding-left: 5% !important;
}

.depth6 {
	padding-left: 6% !important;
}

.depth7 {
	padding-left: 7% !important;
}

.depth8 {
	padding-left: 8% !important;
}

.depth9 {
	padding-left: 9% !important;
}

.depth10 {
	padding-left: 10% !important;
}

.ReportGrid tr td.underline {
	border-top: 1px solid black;
	border-bottom: 0px solid black;
	border-left: 0px none;
	border-right: 0px none;
	cursor: default;
}

.popup {
	border: 1px solid #aaa;
	z-index: 500001;
	margin-top: -3px;
}

.financeWindow { /* padding: 3px; praveena */ /*margin: 0 auto;*/
	/*background: none repeat scroll 0 0 #F7F7F7 !important;*/
	
}

.noScroll {
	background: url("../images/body-shadow-left.png") repeat-y scroll 0 0
		#F0F0F0 !important;
	height: 100% !important;
	margin-top: -16px;
	overflow: hidden !important;
	padding-left: 9px;
}

.actionOver {
	text-decoration: underline;
}

.actionOut {
	text-decoration: none;
}

.newquote {
	background: url(images/icons/newquote.png) repeat-x;
}

.newInvoice {
	background: url(images/icons/newInvoice.png) repeat-x;
}

.newBill {
	background: url(images/icons/newbill.png) repeat-x;
}

.handCursor {
	text-decoration: underline;
	cursor: pointer;
	color: #0000AA;
	white-space: nowrap;
	margin-bottom: 10px;
	/*width: 1px;*/
}

.ReportGrid tr td.underline {
	border-top: 1px solid black;
	border-bottom: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	cursor: default;
}

.ReportGrid .gridBody tr td {
	border-right: 0px none !important;
	padding-left: 5px;
	overflow-x: hidden;
	border-bottom: 0px none !important;
}

table tr.ReportGridRow:HOVER {
	background: none repeat scroll 0 0 #CCCCCC !important;
}

.reportGridContainer {
	padding: 3px !important;
}

.reports-Button {
	border: 1px solid #006;
	background: #9cf;
}

.listgridfooter {
	table-layout: fixed;
	background: #EEEEEE none repeat scroll 0 0;
	table-layout: fixed;
	width: 100%;
	display: none;
}

.listgridfooter td {
	padding-left: 5px;
	font-weight: bold;
}

.vender-form input[type="text"],.vender-form select,.vender-form textarea
	{
	width: 100%;
}

.lable-title {
	font-weight: bold;
	font-size: 12pt;
	padding: 10px;
}

.blue-date-picker {
	background-color: #C3D9FF;
	color: #112ABB;
	width: 185px;
	z-index: 500010;
}

.blue-month-line {
	color: #000000;
	cursor: pointer;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	width: 165px;
}

.blue-week-line {
	color: black;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	width: 184px;
	border-collapse: collapse;
}

.blue-day-grid {
	background-color: white;
	border: 1pt solid #AACCEE;
	border-collapse: collapse;
	cursor: pointer;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	/* width: 165px; praveena*/
	width: 184px;
}

.blue-day-grid tr {
	height: 22px;
	border: 1px solid #aaa; /* praveena */
}

.blue-week-end {
	background-color: #EEEEEE;
	color: #AAAAAA;
	border-right: 1px solid #aaa; /* praveena */
}

.blue-other-day {
	color: #AAAAAA;
	border-right: 1px solid #aaa; /* praveena */
}

.blue-current-month-other-day {
	color: black;
	border-right: 1px solid #aaa; /* praveena */
}

.blue-current-month-week-end {
	background-color: #EEEEEE;
	color: black;
	border-right: 1px solid #aaa; /* praveena */
}

.blue-current-month-selected {
	background-color: #CCCCCC;
	color: black;
	border: 1px solid #aaa;
}

.calender-image {
	background: url(images/icons/calendar.png) no-repeat;
	cursor: pointer;
}

.previousButton {
	background: url("images/Left_indicator.png") no-repeat scroll 0 0
		transparent;
	padding-top: 5px;
}

.previousButton_mouseOver {
	background: url("images/Left_indicator_1.png") no-repeat scroll 0 0
		transparent;
	padding-top: 5px;
}

.nextButton {
	background: url("images/Right_indicator.png") no-repeat scroll 0 0
		transparent;
}

.nextButton_mouseOver {
	background: url("images/Right_indicator_1.png") no-repeat scroll 0 0
		transparent;
}

.discardButton {
	background: url("images/Close1.png") no-repeat scroll 0 0 transparent;
	margin: 1.5px -4px 0 2px;
}

.previousButton,.nextButton,.discardButton {
	background-position: 0 5px;
	cursor: pointer;
	margin-left: 5px;
	padding: 5px 3px;
}

.statusLabelParent {
	vertical-align: middle;
}

.closeBtnParent {
	align: right;
}

.margin-t {
	margin-top: 25px;
}

.margin-b {
	margin-bottom: 10px;
}

.Image-action {
	table-layout: fixed;
}

.Image-action td table {
	cursor: pointer;
}

.link-lable {
	color: #0000AA;
	text-decoration: underline;
}

.Image-action-container {
	background: #edf2f8;
	border: 1px solid #b4b5b7;
	-moz-border-radius: 5px;
	-webkit-radius-border: 5px;
	margin-right: 12px;
}

.dateListParent {
	width: 15px !important;
}

.dateList {
	min-width: 15px !important;
}

.financialDataTitle {
	font-weight: bold;
	background: #BBBBBB;
}

.financialDataTitle:FIRST-CHILD {
	font-weight: bold;
}

.align-form td:first-child { /*width: 50px;*/
	
}

.equal-columns td {
	width: 50%;
}

.column-seperater {
	padding: 0 30px;
}

.borders {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-collapse: collapse;
	padding: 5px;
}

.borders td {
	border-bottom: 1px solid #000;
}

.borders td td {
	border-bottom: 0px none;
}

.title-color {
	background: #EDF2F8 none repeat scroll 0 0;
}

.refresh,.link,.loading { /*	width: 16px;
	height: 16px;*/
	cursor: pointer;
}

.refresh {
	background: transparent url(images/refreshGrid.png) no-repeat scroll 0
		3px;
}

.link {
	background: transparent url(images/help-icon.png) no-repeat scroll 0 1px
		;
	margin-right: 5px;
}

.finance-portlet .portlet {
	margin-top: 2px;
	padding: 0 !important;
}

div.refresh:hover {
	background: transparent url(images/refreshGrid.png) no-repeat scroll 0
		1px;
}

div.link:hover {
	background: transparent url(images/help-icon.png) no-repeat scroll 0 1px
		;
}

.bottom-view { /*border-top: 1px solid #AAAAAA;*/
	background: #DFDFDF;
	border-color: #989898;
	border-style: solid;
	border-width: 0 1px 1px;
	padding-bottom: 4px;
}

.bottom-shadow {
	background: url("../images/widget-shadow-image.png") repeat-x scroll 0 0
		transparent;
	height: 5px;
}

.nav-content {
	color: #00A3D3 !important;
	height: 15px;
	margin-top: 3px;
}

.loading {
	background: transparent url(images/refreshLoading.gif) scroll no-repeat
		0 0;
}

.loading-panel tr td {
	border: 0 none !important;
}

.listgrid-tl .gridBody,.listgrid-tl .gridHeader {
	table-layout: auto !important;
}

.scroll-panel {
	overflow-x: hidden;
	overflow-y: auto;
	width: 1002px !important;
}

.report-toolbar {
	background: #CCCCCC;
	padding-right: 3px;
}

.logview-border {
	border: 1px solid #C6E2FF;
	height: 100px;
}

.financeWindow input[disabled] {
	color: #000;
}

tr.net-profit td {
	border-bottom: 1px solid #FFF !important;
}

td.gridDecimalCell {
	text-align: right !important;
}

.ReportGrid td.gridDecimalCell {
	padding-right: 5px;
	text-align: right !important;
}

.custom-combo {
	background: url("images/Text Feild_enabled_180x22.png") no-repeat scroll
		0 0 #fff;
	border: 0 none;
	height: 22px !important;
	overflow: hidden;
	position: relative;
	width: 180px !important;
	float: left;
	padding:0px\0 !important;
}

.dropdownTable {
	overflow-x: hidden;
}

.dropdownFlex td {
	white-space: nowrap;
}

.dropdownFlex {
	background: #FFF;
	border-spacing: 0;
	border-collapse: collapse;
}

.gwt-DecoratedTabBar .tabTopLeftInner,.gwt-DecoratedTabBar .tabTopRightInner
	{
	width: 3px !important;
}

table.dropdownFlex tr:hover { /*background: #C6E2FF;*/
	background: #CCCCCC !important;
}

/*.dropdown-button {
	background: #FFFFFF url(images/drop.png) no-repeat scroll 0 0;
	height: 17px;
	position: absolute;
	right: 0;
	top: 0;
	width: 15px !important;
}*/
.dropdown-button {
	/*background: url("images/drop.png") no-repeat scroll 100% 0 #FFFFFF;*/
	padding-right: 22px;
	padding-left: 3px;
}

.listgrid .custom-combo {
	background: url("images/Text-Feild_enabled_1x22_mid.png") repeat-x
		scroll 0 0 white !important;
	border-left: 1px solid #CCCCCC;
	height: 22px !important;
	min-width: 50px !important;
	width: 100% !important;
}

.dropdown-disabled {
	background: #E6E0DA;
}

.financeWindow select {
	border: 0 none !important;
	width: 180px !important; /* praveena */
	background: url("images/Text Feild_enabled_180x22.png") no-repeat scroll
		0 0 #FFFFFF;
	padding: 2px;
	height: 23px;
}

.gridAscend {
	background: url('images/arrow-ascend.png') no-repeat scroll 98% 7px;
}

.gridDecend {
	background: url('images/arrow-decend.png') no-repeat scroll 98% 7px;
}

.disable-TextField {
	color: #000000 !important;
}

.finance-portlet .portlet .gridBody tr td div {
	font-size: 10pt;
}

.gwt-MenuBar-horizontal {
	/*background: url("images/top-shadow.png") repeat-x scroll 0 0 transparent !important;    praveena*/
	
}

.gwt-MenuBar .gwt-MenuItem-selected,.gwt-MenuBar-vertical .subMenuIcon-selected
	{
	background: #218bb5 !important;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	/*background-color: #508F5F !important;*/
	
}

.gwt-MenuBar-vertical {
	background: none repeat scroll 0 0 #2AA9DC !important;
	border: 0px none !important;
}

.tablelayout {
	width: 100% !important
}

.tablelayout1 {
	width: 100% !important
}

.ReportGrid tr td {
	font-size: 9pt !important;
}

.tablelayoutInIE {
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.tablelayoutInIE1 {
	padding-left: 100px !important;
	padding-right: 100pX !important;
}

.main-w-finance {
	padding-left: 2px !important
}

.finance-portlet .decor00 {
	background: url(images/headerNew-l.png) no-repeat 0px 0px !important;
}

.finance-portlet td.td10 {
	/*background: transparent url(images/panel-right-img.png) repeat-y scroll
		0 0 !important;*/
	
}

.finance-portlet .gridBody tr td div {
	height: 16px !important;
}

.helpAlign { /*margin-bottom: 3px;*/
	
}

.falseHyperlink {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

.addAccountPortlet { /*margin: 10px !important;*/
	width: 150px;
	height: 35px;
}

.label-banking {
	font-weight: bold;
	font-size: 12pt;
	margin: 6px;
}

.addButtonPortlet { /*margin-left: 10px !important;
	margin-top: 10px !important;*/
	width: 190px;
	height: 35px;
}

.fTablePortlet {
	margin-left: 10px !important;
	margin-top: 5px !important;
}

.amountLabelPortlet {
	font-weight: bold;
	font-size: medium;
}

/**End --- Styles for Finance **/ /* this changes by praveena */
	/* this changes by praveena */
.gwt-Button:active {
	border: medium none !important;
}

.gwt-Button:hover {
	border-color: #9FC2FF !important;
}

.gwt-Button[disabled] {
	cursor: pointer !important;
	color: none !important;
	background: none repeat scroll 0 0 gray !important;;
}

.gwt-Button[disabled]:hover {
	border: 0 !important;
}

.gwt-MenuBar-horizontal {
	background: none !important;
	border: 0 !important;
	margin-top: 3px;
	margin-top: 0px\0  !important;
}

.gwt-MenuBar-horizontal .gwt-MenuItem { /*praveena*/
	/*background:url(/images/arrow_down.gif) no-repeat scroll 0 0 #6DAF7C; */
	background: url("images/Menu bar_1x33.png") repeat-x scroll 0 0
		transparent !important;
	color: #ffffff !important;
	font-weight: bold;
	/*padding: 6px 17px 13px !important;*/
	vertical-align: bottom;
	border: 0 none !important;
	height: 31px;
	padding: 5px 18px 8px !important;
	font-size: 12px;
	height: 20px\0  !important;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: none repeat scroll 0 0 #218BB5 !important;
	border: 0px none !important;
	/*background:url("/images/header-c1.jpg")repeat-x scroll 0 0 transparent ;  praveena*/
}

.gwt-MenuBarPopup {
	margin: -1px 0 0 1px !important;
	/*margin: 0px 0px 0px 3px; praveena*/
}

.decor00,.no-title .biz-decor-panel div.decor00 {
	background: transparent url(images/headerNew-l.png) no-repeat scroll
		-2px 0;
}

td.td01,.no-title .biz-decor-panel td.td01 {
	background: transparent url(images/headerNew-c.png) repeat-x scroll 0 0;
	color: #FFFFFF;
	vertical-align: top;
}

.decor02,.no-title .biz-decor-panel div.decor02 {
	background: transparent url(images/headerNew-r.png) no-repeat scroll
		-8px 0;
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupTopRight {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	background: none !important;
	-background: none !important;
}

.gwt-PopupPanel {
	border: 1px solid #596E8F !important;
	padding: 0px !important;
	/*background: white;*/
}

.change-PopupPanel {
	background: none repeat scroll 0 0 #2AA9DC !important;
	border-color: #2AA9DC !important;
	/*left: 1040px;
     top: 24px;*/
	overflow: visible;
	position: absolute;
	padding: 5px !important;
}

.changeLabel {
	color: white;
}

.gwt-Button {
	background: url("/images/Button_1x25New.png") repeat-x scroll 0 0
		transparent !important;
	color: white !important;
	cursor: pointer;
	height: 25px !important;
	padding: 0 5px 7px !important;
	border: 0px none !important;
	border-radius: 0 0 0 0 !important;
	font-weight: normal;
	margin: 0px !important;
	font-size: 12px !important;
	float: left !important;
	display: inline;
}

.custom-button {
	background: url("/images/Button_1x27.png") repeat-x scroll 0 0
		transparent !important;
	color: white !important;
	cursor: pointer;
	height: 29px !important;
	padding: 0 5px 5px !important;
	border: 0px none !important;
	border-radius: 0 0 0 0 !important;
}

.gwt-Button button:after {
	background: url("images/Button_left_1x27.png") no-repeat scroll 0 0
		#FFFFFF !important;
}

/* Wrote by praveena*/
.gwt-MenuBarPopup table tr {
	margin-top: -3px;
}

.menuPopupTop,.menuPopupMiddleLeft {
	display: none;
}

.MenuBarParent tr td {
	margin: 0px !important;
}

.MenuBarParent table {
	border-spacing: 0px;
}

.gwt-Image { /*margin:0 0 0 7px; praveena*/
	
}

.main-color1 {
	padding: 8px;
}

.header {
	background: url("images/Header-BG_1x95.png") repeat-x scroll 0 0
		transparent !important;
	margin-left: 0 !important;
}

.label2-style {
	color: #00a3d3 !important;
	font-size: 18px;
	padding: 13px 10px;
}

/*.blue-week-line tr td{
	 border-right:1px solid #aaa;
}
.blue-week-line tr{
    border-color:#AAAAAA;
	border-style:solid solid none;
	border-width:1px;
} */
.gwt-Label {
	text-transform: capitalize;
	font-size: 12px;
}

.portletLabel {
	color: white !important;
	font-size: 15px;
	margin-top: -2px;
}

.invoice-total {
	border-collapse: collapse;
	margin: 10px 0;
	width: 100% !important;
}

.invoice-total tr td div {
	font-weight: bold;
	margin: 0 4px !important;
}

.invoice-total
 
tr
:nth-child
 
(3){
border-bottom
:
 
1
px
 
solid
 
#aaa
;

	
border-top
:
 
1
px
 
solid
 
#aaa
;


}
.noScroll input[type="text"] { /*width: 150px !important;*/
	
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	color: #f3f3f3 !important;
	cursor: pointer !important;
}

.report-toolbar input[type="text"] {
	width: 200px;
}

.custom-combo .dropdown-button {
	width: 50px !important;
}

.menu_arrow {
	margin: 0 0 0 7px;
}

.gridBody input[type="text"] { /*width: 100% !important;*/
	
}

.userName-style {
	background: url("images/User.png") no-repeat scroll 0 3px transparent;
	color: #00A3D3 !important;
	padding: 5px 5px 5px 21px;
}

.brandingView {
	border: 2px medium;
}

.logoLink {
	margin-top: 20px;
}

.standard-options {
	background: none repeat scroll 0 0 white;
	width: 99.4%;
	/* border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #DDDDDD;
    margin-top: 5px;
    padding: 5px;*/
}

.standard-options td:FIRST-CHILD {
	float: left;
	margin: 5px 0 0 15px;
}

.standard-options td:nth-child(2){
	float: right;
	/*margin-right:40px;*/
}
.terms-payment-area {
	width: 450px;
	height: 75px;
}

.contact-deatils-area {
	width: 200px;
	height: 75px;
}

.gwt-MenuBar table tr td:nth-of-type(even) {
	/*background:url("images/Menu bar_1x33.png") repeat-x scroll 0 0 #FFFFFF !important;*/
	
}

.menubar-devider {
	background: url("images/Menu bar_1x33.png") repeat-x scroll 0 0
		transparent !important;
	padding: 0px;
}

.bottom-view table tr td {
	background: url("images/Button_left_1x27.png") no-repeat scroll 0 0
		transparent;
	padding: 0 0 0 3px;
}

.custom-button-right-image {
	float: left;
	height: 29px;
	width: 3px;
}

.gwt-TextBox {
	background: url("images/Text Feild_enabled_180x22.png") no-repeat scroll
		0 0 #fff !important;
	border: 0 none;
	height: 22px;
	padding:0px\0 !important;
}

.gwt-PasswordTextBox {
	background: url("images/Text Feild_enabled_180x22.png") no-repeat scroll
		0 0 #fff !important;
	border: 0 none;
	height: 22px;
}

.gwt-TextArea {
	background: url("images/Text Feild_big_enabled_180x64.png") no-repeat
		scroll 0 0 #fff !important;
	border: 0 none !important;
	height: 65px;
	width: 180px !important;
	resize: none
}

.memoTextArea {
	background: url("images/Text-area-img.png") no-repeat scroll 0 0 #fff
		!important;
	border: 0 none !important;
	height: 65px;
	width: 359px !important;
	resize: none
}

.memoTextArea[disabled] {
	background: url("images/Text-area-img.png") no-repeat scroll 0 0 #e6e0da
		!important;
	color: #b1a7ad;
	border: 0 none;
}

.downarrow-button {
	/*background:url("images/downarrow.png") no-repeat scroll 0 0 transparent !important;
	float:right;
	height:22px;
	margin-left:-20px;
	position:relative;
	width:20px;
	z-index:1;
	margin-top:1px;*/
	background: url("images/Drop-down-button_20x22.png") no-repeat scroll 0
		0 transparent !important;
	float: left;
	height: 22px !important;
	margin-left: -22px;
	margin-left:-23px\0 !important;
	position: relative;
	width: 22px;
	z-index: 1;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
	background: url("images/Menu list seperator.png") repeat scroll 0 0
		transparent !important;
	border: 0 none !important;
	height: 2px !important;
}

.gwt-MenuBar table tr td {
	color: #F3F3F3 !important;
	font-weight: bold;
	font-size: 12px;
}

.gwt-TabPanelBottom {
	border-color: #989898 !important;
	border-width: 1px 1px 0 !important;
}

.gwt-TabPanelBottom {
	background: none repeat scroll 0 0 #F0F0F0 !important;
}

.help-logout-sep td:nth-child(2),.help-logout-sep td:nth-child(3){
	padding:5px !important;
}
.help-content {
	background: url("images/Menubar_Divider_2x30.jpg") no-repeat scroll 0 0
		transparent;
	float: right;
	height: 18px;
	margin-left: 9px;
	width: 2px;
	color: #00A3D3 !important;
}

.logout-html a,.help-style span {
	color: #00A3D3 !important;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 4px 14px 4px 10px !important;
}

.editButton {
	background: url("images/page_edit.png") no-repeat scroll 0 0 transparent
		;
}

.editButton {
	background: url("images/Seperator1.png") no-repeat scroll 0 0
		transparent;
	height: 23px !important;
	width: 10px !important;
}

.abstract_base_view {
	background: none repeat scroll 0 0 #F0F0F0 !important;
	padding: 15px;
	/*border:1px solid #DDDDDD;*/
}

.gridTextBoxCell input[type="text"] {
	background: url("images/Text-Feild_enabled_1x22_mid.png") repeat-x
		scroll 0 0 white !important;
	border-left: 1px solid #CCCCCC !important;
	border-right: 1px solid #CCCCCC !important;
	width: 100% !important;
	height: 22px !important;
}

.bottom-view table tr td button {
	background: url("/images/Button_1x25New.png") repeat-x scroll 0 0
		transparent;
	float: left;
	margin: 0 !important;
	padding-right: 30px !important;
	border-radius: 0 0 0 0 !important;
}

.gridSelectBoxCell .downarrow-button {
	background: url("images/Drop-down-button_20x22.png") no-repeat scroll 0
		0 transparent !important;
	float: right;
	height: 22px;
	margin-left: 0px;
	/*margin-top: -22px;*/
	position: relative;
	width: 22px;
	z-index: 1;
	padding: 0px;
}

.save-new-separator {
	background: url("images/Divider.png") no-repeat scroll 0 0 transparent
		!important;
}

.save-close-separator {
	background: url("images/Divider.png") no-repeat scroll 0 0 transparent
		!important;
}

.close-separator {
	background: url("images/gray_Seperator1.png") no-repeat scroll 0 0
		transparent !important;
}

.add-separator {
	background: url("images/Divider.png") no-repeat scroll 0 0 transparent
		!important;
}

.save-new-separator,.save-close-separator,.close-separator,.add-separator
	{
	height: 23px;
	margin-left: 5px;
	margin-top: -4px;
	position: absolute;
	width: 2px;
}

.save-new-image {
	background: url("images/Save-&-New.png") no-repeat scroll 0 0
		transparent !important;
}

.save-close-image {
	background: url("images/Save-&-close.png") no-repeat scroll 0 0
		transparent !important;
}

.approve-image {
	background: url("images/approve.png") no-repeat scroll 0 0
		transparent !important;
}
.submit-approve-image {
	background: url("images/submit_for_approval.png") no-repeat scroll 0 0
		transparent !important;
}
.decline-image {
	background: url("images/decline.png") no-repeat scroll 0 0
		transparent !important;
}

.save-new-image,.save-close-image {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	position: absolute;
}

.close-image,.add-image,.approve-image,.submit-approve-image,.decline-image {
	height: 16px;
	margin-left: 10px;
	position: absolute;
	width: 16px;
}

.add-image {
	background: url("images/Add_item.png") no-repeat scroll 0 0 transparent
		!important;
}

.close-image {
	background: url("images/cross.png") no-repeat scroll 0 0 transparent
		!important;
}

.cancel-button button {
	background: url("/images/gray_Button_2_mid.png") repeat-x scroll 0 0
		transparent !important;
	color: #000 !important;
	padding-top: 2px !important;
}

.cancel-button {
	background: url("/images/gray_Button_2_left.png") no-repeat scroll 0 0
		transparent !important;
}

.add-button {
	background: url("images/blue_Left_sideNew.png") no-repeat scroll 0 0
		transparent !important;
	padding: 0 1px;
	float: right;
}

.ibutton {
	background: url("images/blue_Left_sideNew.png") no-repeat scroll 0 0
		transparent !important;
	float: left;
	padding: 0 1px;
}

.ibutton-right-image { /*float: right;
	height: 25px;
	width: 3px;*/
	display: inline;
	padding: 0px 1px 9px 2px;
}

.panel-right-align {
	float: right;
}

.ibutton-right-align {
	background: url("images/blue_Left_sideNew.png") no-repeat scroll 0 0
		transparent !important;
	float: right;
	padding: 0 1px;
}

.portlet-body {
	background-color: white;
	height: 100%;
	padding-left: 10px;
	padding-top: 10px;
	width: 99%;
	margin-top: 10px\0  !important;
}

.add-button button {
	background: url("/images/Button_1x25New.png") repeat-x scroll 0 0
		transparent !important;
	padding: 1px 25px 4px 0 !important;
	border-radius: 0 0 0 0 !important;
	margin: 0 !important;
}

.add-right-image {
	height: 25px;
	width: 3px;
	float: right;
}

.subMenuIcon img {
	background: url("images/Sub_menu_indicator_side.png") repeat-x scroll 0
		0 transparent !important;
}

.addrsFormCellAlign {
	vertical-align: top;
	padding-top: 3px;
}

.memoFormAlign {
	vertical-align: top;
	width: 55px;
}

.gwt-DialogBox .dialogTopLeft {
	background: url("images/top_left_1.png") no-repeat scroll 0 0
		transparent !important;
	width: 9px;
	height: 16px;
}

.gwt-DialogBox .dialogTopRight {
	background: url("images/top_right_1.png") no-repeat scroll 0 0
		transparent !important;
	width: 9px;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: url("images/left_mid.png") repeat-y scroll 0 0 transparent
		!important;
}

.gwt-DialogBox .dialogMiddleRight {
	background: url("images/Right_mid.png") repeat-y scroll 0 0 transparent
		!important;
}

.gwt-DialogBox .dialogBottomLeft {
	background: url("images/Bottom_left_corner_1.png") no-repeat scroll 0 0
		transparent !important;
}

.gwt-DialogBox .dialogBottomRight {
	background: url("images/Bottom_right_corner.png") no-repeat scroll 0 0
		transparent !important;
}

.gwt-DialogBox .dialogBottomCenter {
	background: url("images/Bottom_mid.png") repeat-x scroll 0 0 transparent
		!important;
	height: 9px;
}

.calendar-picker {
	margin-left: 3px;
	cursor: pointer;
}

.add-button button[disabled]:after {
	background: url("images/gray_Button_left_1x27.png") no-repeat scroll 0 0
		transparent !important;
}

.inviteUserLabel {
	font-weight: bold;
	margin-top: 10px;
}

iframe { /*display:none;*/
	
}

.star {
	color: red;
}

.helpBar {
	background: url("images/Help.png") no-repeat scroll 0 3px transparent
		!important;
	color: #00A3D3 !important;
	cursor: pointer;
	font-weight: normal !important;
	margin-top: 0 !important;
	padding-left: 21px !important;
}

.companyName {
	background: none repeat scroll 0 0 #B8BCC0;
	color: #545454 !important;
	font-size: 20px;
	margin-left: 30px;
	padding: 4px 5px 5px;
	text-align: center;
	margin-top: 20px;
}

.general-setting-invoice {
	margin-left: 30px;
}

.general-image {
	margin-left: 30px;
	margin-right: 20px;
	cursor: pointer;
}

.general-main-class p {
	margin-bottom: 0px;
}

.logo {
	margin-top: 20px;
	margin-left: 25px;
	cursor: pointer;
}

.logout-help-welcome {
	background: url("images/Seperator_right.png") repeat-y scroll 0 0
		transparent;
	margin-top: 20px;
	padding-left: 10px;
}

.logout-html {
	background: url(images/logout.png) no-repeat scroll 0 1px transparent;
	padding-left: 22px;
	margin-top: 2px;
}

.vimutki-text {
	color: #606060;
	font-size: 14px;
	margin: -35px 0 0 75px;
	position: absolute;
	z-index: 1;
}

.list-grid-body {
	background: url("images/Table-form-strip.png") repeat scroll 0 0 #EEEEEE
		;
}

.gwt-DialogBox .dialogTopLeftInner,.dialogMiddleRightInner {
	width: 9px !important;
}

.unused-payments td {
	font-weight: bold !important;
}

.report-toolbar input[type="text"] {
	background: url("images/Text-Field_2.png") no-repeat scroll 0 0 #FFFFFF
		!important;
	width: 140px !important;
}

.invoiceListCombo {
	width: 105px !important;
}

.commentPanel {
	border: 1px solid gray;
	background-color: #FFFFFF;
	width: 100%;
	margin: 15px 15px 0px;
}

.dialog_commentPanel {
	border: 1px solid gray;
	background-color: #FFFFFF;
	width: 100%;
}

.error-data {
	padding: 10px;
	font-weight: bold;
	color: red;
}

.general-standard {
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
	margin-top: 10px;
	width: 100%;
}

.help-data {
	margin-bottom: 280px !important;
}

.main-class-pannel {
	border-color: #989898;
	border-style: solid;
	border-width: 1px 1px 0px;
	padding: 10px;
}

.change_password_view {
	border-color: #989898;
	border-style: solid;
	border-width: 1px 1px;
	padding: 10px;
}

.down-panel {
	font-weight: bold !important;
	color: #464545 !important;
	margin-top: 15px !important;
}

.down-panel1 {
	color: #737272 !important;
	font-weight: bold !important;
	margin-left: 7px !important;
	text-align: right !important;
}

.help-panel {
	background-color: #F0F0F0;
	border: 1px solid #C7C6C6;
}

.help-panel a {
	text-decoration: none;
	color: #737272 !important;
	font-weight: bold !important;
	margin: 0 9px !important;
	text-align: right !important
}

.help-panel a:hover {
	text-decoration: underline;
}

.main-finance-window {
	background: url("../images/body-shadow-right.png") repeat-y scroll right
		top #F0F0F0 !important;
	padding-right: 9px;
}

.setting-class-panel {
	border-color: #989898;
	border-style: solid;
	border-width: 1px 1px 1px;
	margin: 7px 7px 5px -2px !important;
	padding: 10px 8px 10px 11px !important;
}

.brandingTheme-class-panel {
	border-color: #989898;
	border-style: solid;
	border-width: 1px 1px 1px;
	margin: 7px 7px 5px -2px !important;
	padding: 3px 10px 7px 7px !important;
}

.upload-submit {
	margin-left: 40px;
}

.close-button {
	margin-left: 20px;
}

.date-number td:nth-child(2){
	padding-right:15px !important;
}
.datenumber-panel table {
	padding-right: 15px !important;
}

.measurePanel {
	margin-top: 80px;
	border: #989898 solid 1px;
	background-color: #FFFFFF;
	padding: 2px;
}

.rightBorder {
	border-right: #CCCCCC solid 1px;
}

.tax-form tr td {
	font-weight: bold;
}

.tax-form td:nth-child(1){
	font-weight:normal;
}
.itemGrid {
	margin-top: 25px;
}

.upload-logo {
	border: 1px solid #DDDDDD;
	height: 150px;
	margin: 2px;
	width: 164px;
}

.picture-link {
	padding: 56px;
}

.name-item {
	margin-left: 75px;
}

.journal arrow {
	width: 22px;
	padding: 0px;
}

.gwt-HTML {
	font-size: 12px;
}

/* Only for chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.gwt-Button {
		padding: 0 5px 1px !important;
	}
	.add-button button {
		padding: 5px 28px 5px 5px !important;
	}
	.standard-options td:first-child{
	    width:93.8%;
	}
}

/* Opera only*/
noindex:-o-prefocus,.ibutton-right-image {
	display: inline;
	padding: 0px 1px 25px 2px;
	position: absolute;
}

.file-vat .gridRow {
	cursor: default !important;
}

.button-expense {
	margin-top: 20px;
}

.add-new-expense {
	margin-bottom: 20px;
}

.ibutton1 {
	background: url("images/blue_Left_sideNew.png") no-repeat scroll 0 0
		transparent !important;
	float: left;
	padding: 0 10px 0 3px !important;
}
.contact-deatails-panel p{
    text-align:center;
}
.invoice-branding-html p font,.user-html p font,.company-settings-html p font{
    font-size:20px;
}