/** Add css rules here for your application. */
	/** Example rules used by the template application (remove for your app) */
.widget { /**background:url(images/icons/startBar.png) repeat-x;*/
	background:url("images/pannig bar.png") repeat-x scroll 0 0 transparent;
	/*display: none;*/
}

body {
	color: black;
	margin: 0px auto !important;
	border: 0px;
	padding: 0px;
	direction: ltr;
	width: 960px !important;
	overflow: auto !important;
}

html,body {
	height: 100% !important;
}

.widget img {
	margin-top: 3px;
	cursor: pointer;
	padding:0 5px;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.busyindicator {
	padding-bottom: 0;
	padding-right: 20px;
	padding-left: 30%;
	padding-right: 0;
	padding-top: 14%;
	position: absolute;
}

.busyindicatorLabel {
	width: 100%;
	margin-top: -9%;
}

.busyindicatorImg {
	padding-right: 20px;
	padding-left: 8%;
}

.stackpannel {
	background: url(images/icons/stack1.png) repeat-x;
	/**padding:5px 50px 5px 5px;*/
	padding-right: 20px;
	padding-left: 2px;
}

.stack {
	border-right: 1px solid #8fbbe9;
	border-left: 1px solid #8fbbe9;
	border-bottom: 1px solid #8fbbe9;
}

/*.stackpan_items{
	padding-right:20px;padding-left:15px;
}*/
.actionOver {
	text-decoration: underline;
}

.actionOut {
	text-decoration: none;
}

/*.menuItemImage {
	background-repeat: no-repeat !important;
	padding: 4px 14px 4px 30px !important;
}*/
.boldcell {
	font-weight: bold;
	cursor: default;
}

.requiredField {
	font-weight: bold;
}

.financeBackground {
	background: none repeat scroll 0 0 #F7F7F7 !important;
	/*border: 2px solid #CCCCCC;   praveena */
	padding: 11px;
	margin-left: 3px;
	/* margin-top:-2px; praveena*/
}

.listgridViewBottom {
	border-right: 1px solid #A7ABB4;
	border-top: 1px solid #A7ABB4;
	border-bottom: 1px solid #A7ABB4;
	border-left: 1px solid #A7ABB4;
}

.depth1 {
	padding-left: 1% !important;
}

.depth2 {
	padding-left: 2% !important;
}

.depth3 {
	padding-left: 3% !important;
}

.depth4 {
	padding-left: 4% !important;
}

.depth5 {
	padding-left: 5% !important;
}

.depth6 {
	padding-left: 6% !important;
}

.depth7 {
	padding-left: 7% !important;
}

.depth8 {
	padding-left: 8% !important;
}

.depth9 {
	padding-left: 9% !important;
}

.depth10 {
	padding-left: 10% !important;
}

.ReportGrid tr td.underline {
	border-top: 1px solid black;
	border-bottom: 0px solid black;
	border-left: 0px none;
	border-right: 0px none;
	cursor: default;
}

.popup {
	border: 1px solid #aaa;
	z-index: 500001;
	margin-top: -3px;
}

.financeWindow { /* padding: 3px; praveena */ /*margin: 0 auto;*/
     background:none repeat scroll 0 0 #F7F7F7 !important;	
}

.noScroll {
	background: none repeat scroll 0 0 #F7F7F7 !important;
	height: 100% !important;
	overflow: hidden !important;
}

.actionOver {
	text-decoration: underline;
}

.actionOut {
	text-decoration: none;
}

.newquote {
	background: url(images/icons/newquote.png) repeat-x;
}

.newInvoice {
	background: url(images/icons/newInvoice.png) repeat-x;
}

.newBill {
	background: url(images/icons/newbill.png) repeat-x;
}

.handCursor {
	text-decoration: underline;
	cursor: pointer;
	color: #0000AA;
	white-space: nowrap;
	width: 1px;
}

.ReportGrid tr td.underline {
	border-top: 1px solid black;
	border-bottom: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	cursor: default;
}

.ReportGrid .gridBody tr td {
	border-right: 0px none !important;
	padding-left: 5px;
	overflow-x: hidden;
	border-bottom: 0px none !important;
}

table tr.ReportGridRow:HOVER {
	background: #9fd8ef url('images/corser.png') repeat-x;
}

.reportGridContainer {
	padding: 3px !important;
}

.reports-Button {
	border: 1px solid #006;
	background: #9cf;
}

.listgridfooter {
	table-layout: fixed;
	background: #EEEEEE none repeat scroll 0 0;
	table-layout: fixed;
	width: 100%;
	display: none;
}

.listgridfooter td {
	padding-left: 5px;
	font-weight: bold;
}

.vender-form input[type="text"],.vender-form select,.vender-form textarea
	{
	width: 100%;
}

.lable-title {
	font-weight: bold;
	font-size: 12pt;
	padding:5px;
}

.blue-date-picker {
	background-color: #C3D9FF;
	color: #112ABB;
	width: 185px;
	z-index: 500010;
}

.blue-month-line {
	color: #000000;
	cursor: pointer;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	text-align: center;
	width: 165px;
}

.blue-week-line {
	color: black;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	width: 184px;
	border-collapse: collapse;
}

.blue-day-grid {
	background-color: white;
	border: 1pt solid #AACCEE;
	border-collapse: collapse;
	cursor: pointer;
	font-family: Verdana;
	font-size: 8pt;
	text-align: center;
	/* width: 165px; praveena*/
	width: 184px;
}

.blue-day-grid tr {
	height: 22px;
	border: 1px solid #aaa; /* praveena */
}

.blue-week-end {
	background-color: #EEEEEE;
	color: #AAAAAA;
	border-right: 1px solid #aaa; /* praveena */
}

.blue-other-day {
	color: #AAAAAA;
	border-right: 1px solid #aaa; /* praveena */
}

.blue-current-month-other-day {
	color: black;
	border-right: 1px solid #aaa; /* praveena */
}

.blue-current-month-week-end {
	background-color: #EEEEEE;
	color: black;
	border-right: 1px solid #aaa; /* praveena */
}

.blue-current-month-selected {
	background-color: #CCCCCC;
	color: black;
	border: 1px solid #aaa;
}

.calender-image {
	background: url(images/icons/calendar.png) no-repeat;
	cursor: pointer;
}

.previousButton {
	background: url(images/navigate_left.png) no-repeat;
	padding-top: 5px;
}

.nextButton {
	background: url(images/navigate_right.png) no-repeat;
}

.discardButton {
	background: url(images/cross.png) no-repeat;
}

.previousButton,.nextButton,.discardButton {
	padding: 3px;
	margin: 2px;
	background-position: 0 1px;
}

.statusLabelParent {
	vertical-align: middle;
}

.closeBtnParent {
	align: right;
}

.margin-t {
	margin-top: 25px;
}

.margin-b {
	margin-bottom: 10px;
}

.Image-action {
	table-layout: fixed;
}

.Image-action td table {
	cursor: pointer;
}

.link-lable {
	color: #0000AA;
	text-decoration: underline;
}

.Image-action-container {
	background: #edf2f8;
	border: 1px solid #b4b5b7;
	-moz-border-radius: 5px;
	-webkit-radius-border: 5px;
	margin-right: 12px;
}

.dateListParent {
	width: 15px !important;
}

.dateList {
	min-width: 15px !important;
}

.financialDataTitle {
	font-weight: bold;
	background: #BBBBBB;
}

.financialDataTitle:FIRST-CHILD {
	font-weight: bold;
}

.align-form td:first-child { /*width: 50px;*/
	
}

.equal-columns td {
	width: 50%;
}

.column-seperater {
	padding: 0 30px;
}

.borders {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-collapse: collapse;
	padding: 5px;
}

.borders td {
	border-bottom: 1px solid #000;
}

.borders td td {
	border-bottom: 0px none;
}

.title-color {
	background: #EDF2F8 none repeat scroll 0 0;
}

.refresh,.link,.loading {
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.refresh {
	background: transparent url(images/refreshGrid.png) no-repeat scroll 0
		3px;
}

.link {
	background: transparent url(images/help-icon.png) no-repeat scroll 0 1px
		;
	margin-right: 5px;
}

.finance-portlet .portlet {
	margin-top: 2px;
	padding: 0 !important;
}

div.refresh:hover {
	background: transparent url(images/refreshGrid.png) no-repeat scroll 0
		1px;
}

div.link:hover {
	background: transparent url(images/settings.png) no-repeat scroll 0
		-15px;
}

.bottom-view {
	/*border-top: 1px solid #AAAAAA;*/
	background:none repeat scroll 0 0 #DFDFDF;
}

.nav-content {
	margin-top: 3px;
	height: 15px;
}

.loading {
	background: transparent url(images/refreshLoading.gif) scroll no-repeat
		0 0;
}

.loading-panel tr td {
	border: 0 none !important;
}

.listgrid-tl .gridBody,.listgrid-tl .gridHeader {
	table-layout: auto !important;
}

.scroll-panel {
	overflow-x: hidden;
	overflow-y: auto;
}

.report-toolbar {
	background: #CCCCCC;
	padding-right: 3px;
}

.logview-border {
	border: 1px solid #C6E2FF;
	height: 100px;
}

.financeWindow input[disabled] {
	color: #000;
}

tr.net-profit td {
	border-bottom: 1px solid #FFF !important;
}

td.gridDecimalCell {
	text-align: right !important;
}

.ReportGrid td.gridDecimalCell {
	padding-right: 5px;
	text-align: right !important;
}

.custom-combo {
	background:url("images/Text Feild_enabled_180x22.png") no-repeat scroll 0 0 #FFFFFF;
	border:0 none;
	height:22px !important;
	overflow:hidden;
	position:relative;
	width:180px !important;
	float:left
}

.dropdownTable {
	overflow-x: hidden;
}

.dropdownFlex td {
	white-space: nowrap;
}

.dropdownFlex {
	background: #FFF;
	border-spacing: 0;
	border-collapse: collapse;
}
.gwt-DecoratedTabBar .tabTopLeftInner, .gwt-DecoratedTabBar .tabTopRightInner {
	width:4px !important;
}
table.dropdownFlex tr:hover { /*background: #C6E2FF;*/
	background: #83BF91 !important;
}

/*.dropdown-button {
	background: #FFFFFF url(images/drop.png) no-repeat scroll 0 0;
	height: 17px;
	position: absolute;
	right: 0;
	top: 0;
	width: 15px !important;
}*/
.dropdown-button {
	/*background: url("images/drop.png") no-repeat scroll 100% 0 #FFFFFF;*/
	padding-right: 15px;
}

.listgrid .custom-combo {
	background:url("images/Text box_1.png") repeat-x scroll 0 0 white !important;
	border-left:1px solid #CCCCCC;
	height:15px !important;
	min-width:50px !important;
	width:100% !important;
}

.dropdown-disabled {
	background: #E6E0DA;
}

.financeWindow select {
	border: 0 none !important;
	width: 180px !important; /* praveena */
	background:url("images/Text Feild_enabled_180x22.png") no-repeat scroll 0 0 #FFFFFF;
	padding:2px;
	height:23px;
}

.gridAscend {
	background: url('images/arrow-ascend.png') no-repeat scroll 98% 7px;
}

.gridDecend {
	background: url('images/arrow-decend.png') no-repeat scroll 98% 7px;
}

.disable-TextField {
	color: #000000 !important;
}

.finance-portlet .portlet .gridBody tr td div {
	font-size: 10pt;
}

.gwt-MenuBar-horizontal {
	/*background: url("images/top-shadow.png") repeat-x scroll 0 0 transparent !important;    praveena*/
	
}

.gwt-MenuBar .gwt-MenuItem-selected,.gwt-MenuBar-vertical .subMenuIcon-selected {
	background:#218bb5 !important;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	/*background-color: #508F5F !important;*/
}

.gwt-MenuBar-vertical {
	background: none repeat scroll 0 0 #2AA9DC !important;
}

.tablelayout {
	padding-left: 4% !important;
	padding-right: 4% !important;
	width: 92% !important
}

.tablelayout1 {
	padding-left: 12% !important;
	padding-right: 12% !important;
	width: 75% !important
}

.ReportGrid tr td {
	font-size: 9pt !important;
}

.tablelayoutInIE {
	padding-left: 50px !important;
	padding-right: 50px !important;
}

.tablelayoutInIE1 {
	padding-left: 100px !important;
	padding-right: 100pX !important;
}

.main-w-finance {
	padding-left: 2px !important
}

.finance-portlet .decor00 {
	background: url(images/header-l.png) no-repeat 0px 0px !important;
}

.finance-portlet td.td10 {
	background: transparent url(images/panel-right-img.png) repeat-y scroll
		0 0 !important;
}

.finance-portlet .gridBody tr td div {
	height: 16px !important;
}

.helpAlign {
	margin-top: 3px;
}

.falseHyperlink {
	color: blue;
	cursor: pointer;
	text-decoration: underline;
}

.addAccountPortlet {
	margin: 10px !important;
	width: 150px;
	height: 35px;
}

.label-banking {
	font-weight: bold;
	font-size: 12pt;
	margin: 6px;
}

.addButtonPortlet {
	margin-left: 10px !important;
	margin-top: 10px !important;
	width: 190px;
	height: 35px;
}

.fTablePortlet {
	margin-left: 10px !important;
	margin-top: 5px !important;
}

.amountLabelPortlet {
	font-weight: bold;
	font-size: medium;
}

/**End --- Styles for Finance **/ /* this changes by praveena */
	/* this changes by praveena */
.gwt-Button:active {
	border:medium none !important;
}

.gwt-Button:hover {
	border-color: #9FC2FF !important;
}

.gwt-Button[disabled] {
	cursor: none !important;
	color: none !important;
}

.gwt-Button[disabled]:hover {
	border: 0 !important;
}

.gwt-MenuBar-horizontal {
	background: none !important;
	border: 0 !important;
}

.gwt-MenuBar-horizontal .gwt-MenuItem { /*praveena*/
	/*background:url(/images/arrow_down.gif) no-repeat scroll 0 0 #6DAF7C; */
	background: url("images/Menu bar_1x33.png") repeat-x scroll 0 0 #FFFFFF !important;
	color: #ffffff !important;
	font-weight: bold;
	padding: 6px 17px 8px !important;
	vertical-align: bottom;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: none repeat scroll 0 0 #218BB5 !important;
	/*background:url("/images/header-c1.jpg")repeat-x scroll 0 0 transparent ;  praveena*/
}

.gwt-MenuBarPopup {
	margin: -1px 0 0 1px !important;
	/*margin: 0px 0px 0px 3px; praveena*/
}

.gwt-MenuBarPopup .menuPopupTopCenter {
	background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomCenter {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupMiddleLeft {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupMiddleRight {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupTopRight {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	background: none !important;
	-background: none !important;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	background: none !important;
	-background: none !important;
}

.gwt-PopupPanel {
	border: 1px solid #596E8F !important;
	padding: 0px !important;
	/*background: white;*/
}

.gwt-Button {
	background:url("/images/Button_1x27.png") repeat-x scroll 0 0 transparent !important;
	color:white !important;
	cursor:pointer;
	font-weight:bold;
	height:26px !important;
	padding:0 5px 2px !important;
	border:0px none !important;
}
.gwt-Button button:after{
	background:url("images/Button_left_1x27.png") no-repeat scroll 0 0 #FFFFFF !important;
}
/* Wrote by praveena*/
.gwt-MenuBarPopup table tr {
	margin-top: -3px;
}

.menuPopupTop,.menuPopupMiddleLeft {
	display: none;
}

.MenuBarParent tr td {
	margin: 0px !important;
}

.MenuBarParent table {
	border-spacing: 0px;
}

.gwt-Image { /*margin:0 0 0 7px; praveena*/
	
}

.main-color1 {
	padding: 10px;
}

.header {
	background: none repeat scroll 0 0 #e8e8e8;
	/*margin-left:3px; praveena*/
}

.label2-style {
	color: #00a3d3 !important;
	font-size: 18px;
	padding:13px 10px;
}

/*.blue-week-line tr td{
	 border-right:1px solid #aaa;
}
.blue-week-line tr{
    border-color:#AAAAAA;
	border-style:solid solid none;
	border-width:1px;
} */
.gwt-Label {
	text-transform: capitalize;
}

.invoice-total {
	border-collapse: collapse;
	margin: 10px 0;
	width:100% !important;
}

.invoice-total

 

tr


:nth-child

 

(3){
border-bottom


:

 

1
px

 

solid

 

#aaa


;
border-top


:

 

1
px

 

solid

 

#aaa


;
}
.noScroll input[type="text"] {
	/*width: 150px !important;*/
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	color: #f3f3f3 !important;
	cursor: pointer !important;
}

.report-toolbar input[type="text"] {
	width: 100px !important;
}

.custom-combo .dropdown-button {
	width: 50px !important;
}

.menu_arrow {
	margin: 0 0 0 7px;
}

.gridBody input[type="text"] {
	/*width: 100% !important;*/
}

.userName-style {
	text-align: right;
	margin-right: 15px;
	display:none;
}

.brandingView {
	border: 2px medium;
}

.logoLink {
	margin-top: 20px;
}

.standard-options {
	width: 95%;
}

.standard-options td:FIRST-CHILD {
	float: left;
}
.standard-options td:nth-child(2){
	float:right;
}

.terms-payment-area {
	width: 450px;
	height: 75px;
}

.contact-deatils-area {
	width: 200px;
	height: 75px;
}

.gwt-MenuBar table tr td:nth-of-type(even){
	/*background:url("images/Menu bar_1x33.png") repeat-x scroll 0 0 #FFFFFF !important;*/
}
.menubar-devider{
	background:url("images/Menu bar_1x33.png") repeat-x scroll 0 0 #FFFFFF !important;
}
.bottom-view table tr td{
	background:url("images/Button_left_1x27.png") no-repeat scroll 0 0 #FFFFFF;
    padding:0 0 0 1px;
}

.button-right-image{
	float:right;
	height:26px;
	width:1px;
}
.gwt-TextBox{
	background:url("images/Text Feild_enabled_180x22.png") no-repeat scroll 0 0 #ffffff !important;
	border:0 none !important;
    height:22px;
}

.gwt-TextArea{
	background:url("images/Text Feild_big_enabled_180x64.png") no-repeat scroll 0 0 #ffffff !important;
	border:0 none !important;
	height:65px;
	width:180px !important;
}
.downarrow-button{
	/*background:url("images/downarrow.png") no-repeat scroll 0 0 transparent !important;
	float:right;
	height:22px;
	margin-left:-20px;
	position:relative;
	width:20px;
	z-index:1;
	margin-top:1px;
*/
    background:url("images/downarrow.png") no-repeat scroll 0 0 transparent !important;
	float:left;
	height:20px;
	margin-left:-20px;
	margin-top:1px;
	position:relative;
	width:20px;
	z-index:1;
	padding:1px 0px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner{
	background:url("images/Menu list seperator.png") repeat scroll 0 0 transparent !important;
	border:0 none !important;
	height:2px !important;
}
.gwt-MenuBar table tr td{
	color:#F3F3F3 !important;
	font-weight:bold;
}
.gwt-TabPanelBottom{
	border-color:#DDDDDD !important;
	border-width:1px 1px 0 !important;
}
.gwt-TabPanelBottom{
	background:none repeat scroll 0 0 #F0F0F0 !important;
}
.help-logout-sep td:nth-child(2),.help-logout-sep td:nth-child(3){
	float:right;
	padding:5px;
}
.help-content{
	background:url("images/Menubar_Divider_2x30.jpg") no-repeat scroll 0 0 transparent;
	float:right;
	height:18px;
	margin-left:9px;
	width:2px;
	color:#00A3D3 !important;
}
.logout-html a,.help-style span{
	color:#00A3D3 !important;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
	padding:4px 14px 4px 10px !important;
}
.editButton{
	background:url("images/page_edit.png") no-repeat scroll 0 0 transparent;
}
.editButton{
	background:url("images/Seperator1.png") no-repeat scroll 0 0 transparent;
	height:23px !important;
	width:10px !important;
}
.abstract_base_view{
	background:none repeat scroll 0 0 #F0F0F0 !important;
	border:1px solid #DDDDDD;
}
.gridTextBoxCell input[type="text"]{
	background:url("images/Text box_1.png") repeat-x scroll 0 0 white !important;
	border-left:1px solid #CCCCCC !important;
	border-right:1px solid #CCCCCC !important;
	width:100% !important;
	height:15px !important;
}
.bottom-view table tr td button{
	background:url("/images/Button_1x27.png") repeat-x scroll 0 0 transparent;
	padding-right:25px !important;
}
.gridSelectBoxCell .downarrow-button{
	background:url("images/Drop down list button_square shape.png") no-repeat scroll 0 0 transparent !important;
	float:right;
	height:15px;
	margin-left:0;
	margin-top:-15px;
	position:relative;
	width:15px;
	z-index:1;
	padding:0px;
}
.invoice-total tr:nth-child(3){
	border-bottom:1px solid #aaa;
	border-top:1px solid #aaa;
}
.save-new-separator{
	background:url("images/Divider.png") no-repeat scroll 0 0 transparent !important;
}
.save-close-separator{
	background:url("images/Divider.png") no-repeat scroll 0 0 transparent !important;
}
.close-separator{
	background:url("images/gray_Divider.png") no-repeat scroll 0 0 transparent !important;
}
.add-separator{
	background:url("images/blue_Divider.png") no-repeat scroll 0 0 transparent !important;
}
.save-new-separator,.save-close-separator,.close-separator,.add-separator{
	height:19px;
	margin-left:5px;
	position:absolute;
	width:2px;
}
.save-new-image{
	background:url("images/page_edit.png") no-repeat scroll 0 0 transparent !important;
}
.save-close-image{
	background:url("images/page_edit.png") no-repeat scroll 0 0 transparent !important;
}
.save-new-image,.save-close-image,.close-image,.add-image{
	height:16px;
	margin-left:10px;
	position:absolute;
	width:16px;
}
.add-image{
	background:url("images/cross.png") no-repeat scroll 0 0 transparent !important;
}
.close-image{
	background:url("images/cross.png") no-repeat scroll 0 0 transparent !important;
}
.cancel-button{
	background:url("images/gray_Button_left_1x27.png") no-repeat scroll 0 0 transparent !important;
}
.cancel-button button{
	background:url("images/gray_mid_Button.png") repeat-x scroll 0 0 transparent !important;
}
.add-button{
	background:url("images/blue_Left_side.png") no-repeat scroll 0 0 transparent !important;
	padding:0 1px;
}
.add-button button{
	background:url("images/blue_Mid.png") repeat-x scroll 0 0 transparent !important;
	float:left;
    padding:0 25px 0 0 !important;
}
.blue-right-image{
	height:26px;
	width:1px;
	float:left;
}