.example-connector {
	border: 1px solid #2A8EBF;
	padding: 1px 3px;
	background-color: #2A8EBF;
	color: white;
	text-align: center;
}

.selected-connector {
	background-color: #FF0000;
}

.gwt-TabBarItem {
	margin-right: 3px;
	margin-bottom: 2px;
	padding: 1px 5px;
	background-color: #C6CAB7;
	color: white;
	font-size: 10pt;
	cursor: pointer;
}

.gwt-TabBarItem-selected {
	background-color: #2A8EBF;
	padding: 1px 5px 4px;
	margin-bottom: 0px;
}

.gwt-TabPanelBottom {
	border: 2px solid #2A8EBF;
}

.gwt-diagrams-line {
	background-color:#2A8EBF;
}

.gwt-diagrams-canvas {
	color: #2A8EBF;
}

.gwt-diagrams-vml-curve {
	color: #2A8EBF;
}

.gwt-diagrams-vml-group {
	color: #2A8EBF;
}

body {
	font-family:Helvetica,Arial,sans-serif;
}

.gwt-diagrams-sources-panel {
	background-color: #2A8EBF;
}

.gwt-diagrams-source-link a,
.gwt-diagrams-source-link a:link, 
.gwt-diagrams-source-link a:visited,
.gwt-diagrams-source-link a:active
{
	color: white;
	font-size: 10pt;
}

.gwt-diagrams-source-link a:hover {
	color: #6aceff;
}

.gwt-diagrams-source-link {
	padding-left: 3px;
}

.toolbox-node {
	border: 1px solid #C6CAB7;
	padding: 1px 3px;
	margin: 3px;
	background-color: #C6CAB7;
	color: white;
	text-align: center;
	width: 20px;
	font-size: 10pt;
}

.all {
	border-color: #2A8EBF;
}

.left {
	border-left-color: #2A8EBF;
}
.right {
	border-right-color: #2A8EBF;
}
.top {
	border-top-color: #2A8EBF;
}
.bottom {
	border-bottom-color: #2A8EBF;
}

.toolbox {
	border-bottom: 1px solid #2A8EBF;
	width: 100%;
	position: relative;
	z-index: 1;
}

.helpPanel {
	border-bottom: 1px solid #2A8EBF;
	width: 100%;
}

.helpEntry {
	font-size: 10px;
	padding: 3px;
}

.builder {
	width: 100%;
}

.style-option {
	font-size: 10pt;
	display: block;
	vertical-align: middle;
	margin-top: 3px;
}

.style-option input, .style-option label {
	vertical-align: middle;
}

.toolbox-node-proxy {
	text-align: center;
}


.sidebox {
	-moz-border-radius:12px;
	border:2px solid #857A7A;
	margin: 0 auto; /* center for now */
	background-color: #97B2F3;
	font-size: 100%;
}
.boxhead {
	margin: 0;
	padding: 0;
	-moz-border-radius-topleft:12px;
	-moz-border-radius-topright:12px;
	background-color: white;
	text-align: center;
}
.boxhead h5 {
	margin: 0;
	padding: 5px 10px 5px;
	font-weight: bold; 
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
.boxbody {
	margin: 0;
	padding: 5px 10px 5px;
	text-align: center;
}
.transaction{
 -moz-border-radius:5px;
 border:1px solid #ccc;
 margin: 0 auto;
 font-size:8px;
 padding:3px;
}