<?xml version="1.0" encoding="UTF-8"?>


<web-app>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ProxyServlet</servlet-name>
		<!--
			<servlet-class> com.bizantra.server.util.ProxyServlet
			</servlet-class>
		-->
		<servlet-class>com.vimukti.accounter.web.server.ProxyServlet
		</servlet-class>
		<init-param>
			<param-name>proxyHost</param-name>
			<param-value>192.168.0.58</param-value>
		</init-param>
		<init-param>
			<param-name>proxyPort</param-name>
			<param-value>8891</param-value>
		</init-param>
		<init-param>
			<param-name>proxyPath</param-name>
			<param-value>/do/*</param-value>
		</init-param>
		<init-param>
			<param-name>maxFileUploadSize</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/do/accounter/crud/rpc/service</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/do/accounter/get/rpc/service</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/do/accounter/home/rpc/service</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/do/accounter/report/rpc/service</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/do/accounter/home/rpc/service</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ProxyServlet</servlet-name>
		<url-pattern>/do/bizantra/identity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CometServlet</servlet-name>
		<servlet-class>com.bizantra.server.util.ProxyServlet</servlet-class>
		<init-param>
			<param-name>proxyHost</param-name>
			<param-value>192.168.0.58</param-value>
		</init-param>
		<init-param>
			<param-name>proxyPort</param-name>
			<param-value>8891</param-value>
		</init-param>
		<init-param>
			<param-name>proxyPath</param-name>
			<param-value>/do.comet/*</param-value>
		</init-param>
		<init-param>
			<param-name>maxFileUploadSize</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CometServlet</servlet-name>
		<url-pattern>/do.comet/*</url-pattern>
	</servlet-mapping>
</web-app>
